﻿@model CONTRAST_WEB.Models.tb_m_employee
@{
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<div id="products" class="_3EibU">
    <div class="item col-xs-12 col-lg-3">
       @using (Html.BeginForm("Index", "TravelRequest", FormMethod.Post))
       {
       <button type="submit" class="thumbnail border">
               @Html.HiddenFor(m => m.code)
               @Html.HiddenFor(m => m.name)
               @Html.HiddenFor(m => m.@class)
               @Html.HiddenFor(m => m.entry_date)
               @Html.HiddenFor(m => m.position)
               @Html.HiddenFor(m => m.bank_account)
               @Html.HiddenFor(m => m.unit_code_code)
               @Html.HiddenFor(m => m.unit_code_id)
               @Html.HiddenFor(m => m.unit_code_name)
               @Html.AntiForgeryToken()
               <div style="padding:10px 5px;">
                   <input type="image" height="50" width="50" style="margin:0px 0px; padding:0 0;cursor:pointer;" src="~/img/Travel-Request-icon.png" alt="" />
                   <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">TRAVEL ASSIGNMENT</div>
               </div>
       </button>
       }
    </div>

    <div class="item col-xs-12 col-lg-3">
            @using (Html.BeginForm("Index", "TravelStatus", FormMethod.Post))
            {
            <button type="submit" class="thumbnail border">
                    @Html.HiddenFor(m => m.code)
                    @Html.HiddenFor(m => m.name)
                    @Html.AntiForgeryToken()
                    <div style="padding:10px 5px;">
                        <input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;cursor:pointer;" src="~/img/Travel-Status-icon.png" alt="" />
                        <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">TRAVEL STATUS</div>
                    </div>
            </button>
            }
    </div>

    <div class="item col-xs-12 col-lg-3">
            @using (Html.BeginForm("Index", "TravelExecution", FormMethod.Post))
            {
            <button type="submit" class="thumbnail border">
                    @Html.HiddenFor(m => m.code)
                    @Html.HiddenFor(m => m.name)
                    @Html.AntiForgeryToken()
                    <div style="padding:10px 5px;">
                        <input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;cursor:pointer;" src="~/img/Travel-Execution-icon.png" alt="" />
                        <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">TRAVEL EXECUTION</div>
                    </div>
            </button>
            }
    </div>

    <div class="item col-xs-12 col-lg-3">
            @using (Html.BeginForm("Index", "SettlementList", FormMethod.Post))
            {
        <button type="submit" class="thumbnail border">
                @Html.HiddenFor(m => m.code)
                @Html.HiddenFor(m => m.name)
                @Html.AntiForgeryToken()
                <div style="padding:10px 5px;">
                    <input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;cursor:pointer;" src="~/img/Settlement-icon.png" alt="" />
                    <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">TRAVEL SETTLEMENT</div>
                </div>
        </button>
            }
    </div>

    <div class="item col-xs-12 col-lg-3">
            @using (Html.BeginForm("Index", "TravelConfirmation", FormMethod.Post))
            {
        <button type="submit" class="thumbnail border">
                @Html.HiddenFor(m => m.code)
                @Html.HiddenFor(m => m.name)
                @Html.HiddenFor(m => m.@class)
                @Html.HiddenFor(m => m.entry_date)
                @Html.HiddenFor(m => m.position)
                @Html.HiddenFor(m => m.bank_account)
                @Html.HiddenFor(m => m.unit_code_code)
                @Html.HiddenFor(m => m.unit_code_id)
                @Html.HiddenFor(m => m.unit_code_name)
                @Html.AntiForgeryToken()
                <div style="padding:10px 5px;">
                    <input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;cursor:pointer;" src="~/img/travel-confirmation-menu.png" alt="" />
                    <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">CONFIRM TRAVEL PLAN</div>
                </div>
        </button>
            }
    </div>

    @foreach (var items in ViewBag.Privillege)
    {
        if (items == "contrast.staffpac")
        {
            <div class="item col-xs-12 col-lg-3">
                    @using (Html.BeginForm("Index", "ActualCost", FormMethod.Post))
                    {
                <button type="submit" class="thumbnail border">
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.name)
                        @Html.HiddenFor(m => m.@class)
                        @Html.HiddenFor(m => m.entry_date)
                        @Html.HiddenFor(m => m.position)
                        @Html.HiddenFor(m => m.bank_account)
                        @Html.HiddenFor(m => m.unit_code_code)
                        @Html.HiddenFor(m => m.unit_code_id)
                        @Html.HiddenFor(m => m.unit_code_name)
                        @Html.AntiForgeryToken()
                        <div style="padding:10px 5px;">
                            <input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;cursor:pointer;" src="~/img/menu-actual-cost.png" alt="" />
                            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">HOTEL & TICKET</div>
                        </div>
                </button>
                    }
            </div>
            break;
        }
    }
    @foreach (var items in ViewBag.Privillege)
    {
        if (items == "contrast.ap" || items == "contrast.dphga" || items == "contrast.staffga" || items == "contrast.dphpac")
        {
            <div class="item col-xs-12 col-lg-3">
                    @using (Html.BeginForm("Index", "Verify", FormMethod.Post))
                    {
                <button type="submit" class="thumbnail border">
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.name)
                        @Html.HiddenFor(m => m.@class)
                        @Html.HiddenFor(m => m.entry_date)
                        @Html.HiddenFor(m => m.position)
                        @Html.HiddenFor(m => m.bank_account)
                        @Html.HiddenFor(m => m.unit_code_code)
                        @Html.HiddenFor(m => m.unit_code_id)
                        @Html.HiddenFor(m => m.unit_code_name)
                        @Html.AntiForgeryToken()
                        <div style="padding:10px 5px;">
                            <input type="image" style="height:50px; width:50px; margin:0px 0px; padding:0 0;cursor:pointer;" src="~/img/Actual-Cost-verification-menu.png" alt="" />
                            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">VERIFY HOTEL & TICKET</div>
                        </div>
                </button>
                    }
            </div>
            break;
        }
    }
    @foreach (var items in ViewBag.Privillege)
    {
        if (items == "contrast.ap" || items == "contrast.dphga" || items == "contrast.staffga")
        {
            <div class="item col-xs-12 col-lg-3">
                    @using (Html.BeginForm("Index", "VerifySettlement", FormMethod.Post))
                    {
                <button type="submit" class="thumbnail border">
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.name)
                        @Html.HiddenFor(m => m.@class)
                        @Html.HiddenFor(m => m.entry_date)
                        @Html.HiddenFor(m => m.position)
                        @Html.HiddenFor(m => m.bank_account)
                        @Html.HiddenFor(m => m.unit_code_code)
                        @Html.HiddenFor(m => m.unit_code_id)
                        @Html.HiddenFor(m => m.unit_code_name)
                        @Html.AntiForgeryToken()
                        <div style="padding:10px 5px;">
                            <input type="image" style="height:50px; width:50px; margin:0px 0px; padding:0 0;cursor:pointer;" src="~/img/verification.png" alt="" />
                            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">VERIFY SETTLEMENT</div>
                        </div>
                </button>
                    }
            </div>
            break;
        }
    }
    @foreach (var items in ViewBag.Privillege)
    {
        if (items == "contrast.ap")
        {
            <div class="item col-xs-12 col-lg-3">
                    @using (Html.BeginForm("Index", "VerifyBPD", FormMethod.Post))
                    {
                <button type="submit" class="thumbnail border">
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.name)
                        @Html.HiddenFor(m => m.@class)
                        @Html.HiddenFor(m => m.entry_date)
                        @Html.HiddenFor(m => m.position)
                        @Html.HiddenFor(m => m.bank_account)
                        @Html.HiddenFor(m => m.unit_code_code)
                        @Html.HiddenFor(m => m.unit_code_id)
                        @Html.HiddenFor(m => m.unit_code_name)
                        @Html.AntiForgeryToken()
                        <div style="padding:10px 5px;">
                            <input type="image" style="height:50px; width:50px; margin:0px 0px; padding:0 0;cursor:pointer;" src="~/img/Fixed-Cost-verification-menu.png" alt="" />
                            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">VERIFY ALLOWANCE</div>
                        </div>
                </button>
                
                    }
            </div>
            break;
        }
    }
    @foreach (var items in ViewBag.Privillege)
    {
        if (items == "contrast.administd")
        {
            <div class="item col-xs-12 col-lg-3">
                    @using (Html.BeginForm("Index", "TravelDit", FormMethod.Post))
                    {
                <button type="submit" class="thumbnail border">
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.name)
                        @Html.HiddenFor(m => m.@class)
                        @Html.HiddenFor(m => m.entry_date)
                        @Html.HiddenFor(m => m.position)
                        @Html.HiddenFor(m => m.bank_account)
                        @Html.HiddenFor(m => m.unit_code_code)
                        @Html.HiddenFor(m => m.unit_code_id)
                        @Html.HiddenFor(m => m.unit_code_name)
                        @Html.AntiForgeryToken()
                        <div style="padding:10px 5px;">
                            <input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;cursor:pointer;" src="~/img/menu-upload-dit.png" alt="" />
                            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">UPLOAD PLAN TRAVEL</div>
                        </div>
                </button>
                    }
            </div>
            break;
        }
    }
    @foreach (var items in ViewBag.Privillege)
    {
        if (items == "contrast.adminga")
        {
            <div class="item col-xs-12 col-lg-3">
                    @using (Html.BeginForm("Index", "UploadMaster", FormMethod.Post))
                    {
                <button type="submit" class="thumbnail border">
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.name)
                        @Html.HiddenFor(m => m.@class)
                        @Html.HiddenFor(m => m.entry_date)
                        @Html.HiddenFor(m => m.position)
                        @Html.HiddenFor(m => m.bank_account)
                        @Html.HiddenFor(m => m.unit_code_code)
                        @Html.HiddenFor(m => m.unit_code_id)
                        @Html.HiddenFor(m => m.unit_code_name)
                        @Html.AntiForgeryToken()
                        <div style="padding:10px 5px;">
                            <input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;cursor:pointer;" src="~/img/menu-upload-master.png" alt="" />
                            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">UPLOAD MASTER</div>
                        </div>
                </button>
                    }
            </div>
            break;
        }
    }
    @foreach (var items in ViewBag.Privillege)
    {
        if (items == "contrast.ap")
        {
            <div class="item col-xs-12 col-lg-3">
                    @using (Html.BeginForm("Index", "GenerateFile", FormMethod.Post))
                    {
                <button type="submit" class="thumbnail border">
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.name)
                        @Html.HiddenFor(m => m.@class)
                        @Html.HiddenFor(m => m.entry_date)
                        @Html.HiddenFor(m => m.position)
                        @Html.HiddenFor(m => m.bank_account)
                        @Html.HiddenFor(m => m.unit_code_code)
                        @Html.HiddenFor(m => m.unit_code_id)
                        @Html.HiddenFor(m => m.unit_code_name)
                        @Html.AntiForgeryToken()
                        <div style="padding:10px 5px;">
                            <input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;cursor:pointer;" src="~/img/menu-generate-file.png" alt="" />
                            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">GENERATE FILE</div>
                        </div>
                </button>
                    }
            </div>
            // break;
        }

    }
    @foreach (var items in ViewBag.Privillege)
    {
        if (items == "contrast.ap" || items == "contrast.staffga" || items == "contrast.staffpac")
        {
            <div class="item col-xs-12 col-lg-3">
                    @using (Html.BeginForm("Index", "TrackProgress", FormMethod.Post))
                    {
                <button type="submit" class="thumbnail border">
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.name)
                        @Html.HiddenFor(m => m.@class)
                        @Html.HiddenFor(m => m.entry_date)
                        @Html.HiddenFor(m => m.position)
                        @Html.HiddenFor(m => m.bank_account)
                        @Html.HiddenFor(m => m.unit_code_code)
                        @Html.HiddenFor(m => m.unit_code_id)
                        @Html.HiddenFor(m => m.unit_code_name)
                        @Html.Hidden("user", "all")
                        @Html.AntiForgeryToken()
                        <div style="padding:10px 5px;">
                            <a name="user" value="all"><input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;" src="~/img/tracking-data.png" alt="" name="user" value="all" /></a>
                            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">TRANSACTION TRACKING</div>
                        </div>
                </button>
                    }
            </div>
            // break;
        }

    }
    @foreach (var items in ViewBag.Privillege)
    {
        if (items == "contrast.administd")
        {
            <div class="item col-xs-12 col-lg-3">
                    @using (Html.BeginForm("Index", "TrackProgress", FormMethod.Post))
                    {
                <button type="submit" class="thumbnail border">
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.name)
                        @Html.HiddenFor(m => m.@class)
                        @Html.HiddenFor(m => m.entry_date)
                        @Html.HiddenFor(m => m.position)
                        @Html.HiddenFor(m => m.bank_account)
                        @Html.HiddenFor(m => m.unit_code_code)
                        @Html.HiddenFor(m => m.unit_code_id)
                        @Html.HiddenFor(m => m.unit_code_name)
                        @Html.Hidden("user", "admin")
                        @Html.AntiForgeryToken()
                        <div style="padding:10px 5px;">
                            <a><input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;" src="~/img/tracking-data.png" alt="" name="user" value="division" id="user" /></a>
                            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">DIVISON TRACKING</div>
                        </div>
                </button>
                    }
            </div>
            // break;
        }

    }
    @foreach (var items in ViewBag.Privillege)
    {
        if (items == "contrast.staffpac")
        {
            <div class="item col-xs-12 col-lg-3">
                    @using (Html.BeginForm("Index", "InvoiceDownload", FormMethod.Post))
                    {
                <button type="submit" class="thumbnail border">
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.name)
                        @Html.HiddenFor(m => m.@class)
                        @Html.HiddenFor(m => m.entry_date)
                        @Html.HiddenFor(m => m.position)
                        @Html.HiddenFor(m => m.bank_account)
                        @Html.HiddenFor(m => m.unit_code_code)
                        @Html.HiddenFor(m => m.unit_code_id)
                        @Html.HiddenFor(m => m.unit_code_name)

                        <div style="padding:10px 5px;">
                            <input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;cursor:pointer;" src="~/img/download-invoice.png" alt="" />
                            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">PURCHASE ORDER</div>
                        </div>
                </button>
                    }
            </div>

        }
    }
    @foreach (var items in ViewBag.Privillege)
    {
        if (items == "contrast.staffga")
        {

            <div class="item col-xs-12 col-lg-3">
                    @using (Html.BeginForm("Index", "InvoiceDownload", FormMethod.Post))
                    {
                <button type="submit" class="thumbnail border">
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.name)
                        @Html.HiddenFor(m => m.@class)
                        @Html.HiddenFor(m => m.entry_date)
                        @Html.HiddenFor(m => m.position)
                        @Html.HiddenFor(m => m.bank_account)
                        @Html.HiddenFor(m => m.unit_code_code)
                        @Html.HiddenFor(m => m.unit_code_id)
                        @Html.HiddenFor(m => m.unit_code_name)

                        <div style="padding:10px 5px;">
                            <input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;cursor:pointer;" src="~/img/download-invoice.png" alt="" />
                            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">GOOD RECEIPT</div>
                        </div>
                </button>
                    }
            </div>

        }
    }
    <div class="item col-xs-12 col-lg-3">
            @using (Html.BeginForm("Index", "TrackProgressPersonal", FormMethod.Post))
            {
        <button type="submit" class="thumbnail border">
                @Html.HiddenFor(m => m.code)
                @Html.HiddenFor(m => m.name)
                @Html.HiddenFor(m => m.@class)
                @Html.HiddenFor(m => m.entry_date)
                @Html.HiddenFor(m => m.position)
                @Html.HiddenFor(m => m.bank_account)
                @Html.HiddenFor(m => m.unit_code_code)
                @Html.HiddenFor(m => m.unit_code_id)
                @Html.HiddenFor(m => m.unit_code_name)
                @Html.Hidden("user", "user")
                @Html.AntiForgeryToken()
                <div style="padding:10px 5px;">
                    <a><input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;" src="~/img/tracking-data.png" alt="" name="user" value="user" id="user" /></a>
                    <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">TRAVEL TRACKING</div>
                </div>
        </button>
            }
    </div>
    @foreach (var items in ViewBag.Privillege)
    {
        if (items == "contrast.ap")
        {
            <div class="item col-xs-12 col-lg-3">
                    @using (Html.BeginForm("Index", "PaymentList", FormMethod.Post))
                    {
                <button type="submit" class="thumbnail border">
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.name)
                        @Html.HiddenFor(m => m.@class)
                        @Html.HiddenFor(m => m.entry_date)
                        @Html.HiddenFor(m => m.position)
                        @Html.HiddenFor(m => m.bank_account)
                        @Html.HiddenFor(m => m.unit_code_code)
                        @Html.HiddenFor(m => m.unit_code_id)
                        @Html.HiddenFor(m => m.unit_code_name)
                        @Html.Hidden("user", "user")
                        @Html.AntiForgeryToken()
                        <div style="padding:10px 5px;">
                            <a><input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;" src="~/img/paymentList.png" alt="" name="user" value="user" id="user" /></a>
                            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">PAYMENT LIST</div>
                        </div>
                </button>
                    }
            </div>
            <div class="item col-xs-12 col-lg-3">
                    @using (Html.BeginForm("Index", "PaymentProposal", FormMethod.Post))
                    {
                <button type="submit" class="thumbnail border">
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.name)
                        @Html.HiddenFor(m => m.@class)
                        @Html.HiddenFor(m => m.entry_date)
                        @Html.HiddenFor(m => m.position)
                        @Html.HiddenFor(m => m.bank_account)
                        @Html.HiddenFor(m => m.unit_code_code)
                        @Html.HiddenFor(m => m.unit_code_id)
                        @Html.HiddenFor(m => m.unit_code_name)
                        @Html.Hidden("user", "user")
                        @Html.AntiForgeryToken()
                        <div style="padding:10px 5px;">
                            <a><input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;" src="~/img/paymentProposal.png" alt="" name="user" value="user" id="user" /></a>
                            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">PAYMENT PROPOSAL</div>
                        </div>
                </button>
                    }
            </div>
        }
    }
            <div class="item col-xs-12 col-lg-3">
                    @using (Html.BeginForm("Index", "Profile", FormMethod.Post))
                    {
                <button type="submit" class="thumbnail border">
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.name)
                        @Html.HiddenFor(m => m.@class)
                        @Html.HiddenFor(m => m.entry_date)
                        @Html.HiddenFor(m => m.position)
                        @Html.HiddenFor(m => m.bank_account)
                        @Html.HiddenFor(m => m.unit_code_code)
                        @Html.HiddenFor(m => m.unit_code_id)
                        @Html.HiddenFor(m => m.unit_code_name)
                        @Html.AntiForgeryToken()
                        <div style="padding:10px 5px;">
                            <input type="image" img style="height:50px; width:50px; margin:0px 0px; padding:0 0;cursor:pointer;" src="~/img/question-sign.png" alt="" />
                            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="_2hTgM" data-reactid="47">HELP</div>
                        </div>
                </button>
                    }
            </div>
        </div>

