@*@model IList<CONTRAST_WEB.Models.PaymentProposalHelper>*@
@model PagedList.IPagedList<CONTRAST_WEB.Models.PaymentProposalHelper>
@using PagedList.Mvc;
@{
    ViewBag.Title = "PARTICIPANT";
    Layout = "~/Views/Shared/_LayoutLg.cshtml";
    DateTime temp = DateTime.Now;
}
<div style="height:100px; padding:60px 0 0 0;" class="well navbar-fixed-top">
    <ol class="breadcrumb">
        <li>
            @using (Html.BeginForm("Index", "Home"))
            {
                <button type="submit" style="border:0px; margin:0; background-color:transparent; padding:0px; color:dimgrey">Home</button>
            }
        </li>
        <li class="breadcrumb-item active">Payment Proposal</li>
    </ol>
</div>

<div class="container">
    <div style="margin-top:115px;" id="products" class="row list-group _3EibU">
        <label style="width:100%" class="h5sl">Payment Proposal</label>
        <div class="col-sm-12 col-md-10">
            <div>
                <div class="collapse navbar-collapse">
                    @using (Html.BeginForm("Index", "PaymentProposal", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                    {
                        <table>
                            <tr>
                                <td>
                                    Search: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", style = "width:200px", placeholder = "" })
                                </td>
                                <!--<td>
                                                @if (ViewBag.startdate != null)
                                        {
                                            @Html.TextBox("startdate", ViewBag.startdate as DateTime?, new { @id = "startdate", @type = "date", @Value = ViewBag.startdate.ToString("yyyy-MM-dd") })
                                }
                                else
                                {
                                    @Html.TextBox("startdate", ViewBag.startdate as DateTime?, new { @id = "startdate", @type = "date" })
                                }
                                            </td>

                                            <td>
                                                @if (ViewBag.enddate != null)
                                        {
                                            @Html.TextBox("enddate", ViewBag.enddate as DateTime?, new { @id = "enddate", @type = "date", @Value = ViewBag.enddate.ToString("yyyy-MM-dd") })
                                }
                                else
                                {
                                    @Html.TextBox("enddate", ViewBag.enddate as DateTime?, new { @id = "enddate", @type = "date" })
                                }
                                            </td>-->
                                <td>
                                    <input type="submit" value="Search" class="btn btn-success" />
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
        </div>

        <div class="well">
            @using (Html.BeginForm("Generate", "PaymentProposal", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div style="width:100%;text-align:left;height:380px;overflow-y:scroll;border:0px;" class="clearfix">

                    <div style="padding:0 5px">
                        <table style="width:1450px;" class="table table-condensed table-striped">
                            <tr style="background-color:deepskyblue; text-align:center;">
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    ID_DATA
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    VENDOR_CODE
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    CURRENCY
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    TOTAL_AMOUNT
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    BENEFICIARY_NAME
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    ACCOUNT_NUMBER
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    EMPLOYEE_NAME
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:left; border-right:1px solid white;">
                                    REFFERENCE
                                </th>
                            </tr>

                            @for (int k = 0; k < Model.Count(); k++)
                            {

                                @Html.HiddenFor(Model => Model[k].No_Reg)
                                @Html.HiddenFor(Model => Model[k].Name)
                                @Html.HiddenFor(Model => Model[k].Entity.id_data)
                                @Html.HiddenFor(Model => Model[k].Entity.vendor_code)
                                @Html.HiddenFor(Model => Model[k].Entity.currency)
                                @Html.HiddenFor(Model => Model[k].Entity.total_amount)
                                @Html.HiddenFor(Model => Model[k].Entity.beneficiary_name)
                                @Html.HiddenFor(Model => Model[k].Entity.account_number)
                                @Html.HiddenFor(Model => Model[k].Entity.employee_name)
                                @Html.HiddenFor(Model => Model[k].Entity.refference)

                                <tr class="table-responsive">
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.id_data)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.vendor_code)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.currency)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.total_amount)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.beneficiary_name)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.account_number)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.employee_name)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.refference)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    @foreach (int item in ViewBag.id_data)
                    {
                        @Html.Hidden("id_data", item)
                    }
                </div>

                <div id="show" style="margin:0px;padding:0px;" class="alert alert-success col-lg-12" hidden>
                    <strong>Success!</strong> Check File Download on Folder.
                </div>
                <div style="float:right;margin-top:15px;margin-left:100px;" class="col-lg-offset-2">
                    <button id="button" class="btn btn-info btn-lg" type="submit" name="Submit" value="Submit"><span class="glyphicon glyphicon-download"></span>&nbsp;Download</button>
                </div>
            }
            <div style="float:left; margin-top:1px" " class="col-lg-offset-0">

                @if (ViewBag.startdate != null || ViewBag.enddate != null)
                {
                    <div class="h5a">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    </div>
                    <div style="height:5px;">
                        @Html.PagedListPager(Model, page => Url.Action("Index",
                                                 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, startdate = ViewBag.startdate, enddate = ViewBag.enddate }))
                    </div>
                }
                else
                {
                    <div class="h5a">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    </div>
                    <div style="height:5px;">
                        @Html.PagedListPager(Model, page => Url.Action("Index",
                                                            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>
                }
            </div>
        </div>

    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#button").click(function () {
            $("#show").fadeIn();
        });
    });
</script>