@model IList<CONTRAST_WEB.Models.PaymentListHelper>
@{
    ViewBag.Title = "PARTICIPANT";
    Layout = "~/Views/Shared/_LayoutLg.cshtml";
    DateTime temp = DateTime.Now;
}
<div style="height:100px; padding:60px 0 0 0;" class="well navbar-fixed-top">
    <ol class="breadcrumb">
        <li>
            @using (Html.BeginForm("Index", "Home"))
            {
                <button type="submit" style="border:0px; margin:0; background-color:transparent; padding:0px; color:dimgrey">Home</button>
            }
        </li>
        <li class="breadcrumb-item active">Payment List</li>
    </ol>
</div>
<div class="container">
    <div style="margin-top:115px;" id="products" class="row list-group _3EibU">
        <label style="width:100%" class="h5sl">Payment List</label>
        <div class="col-sm-12 col-md-10">
            <div>
                <div class="collapse navbar-collapse">

                    @using (Html.BeginForm("Filter", "PaymentList", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
                    {
                        @Html.AntiForgeryToken()
                        if (Model.Count() > 0)
                        {
                            @Html.HiddenFor(m => m[0].Name, new { @value = Model[0].Name })
                            @Html.HiddenFor(m => m[0].No_Reg, new { @value = Model[0].Name })

                            <table>
                                <tr>
                                    <td>
                                        <input type="text" name="search" value="@ViewBag.Search" class="form-control" placeholder="search" />
                                    </td>
                                    <td>
                                        <input type="date" name="startdate" value=@Model[0].StartDate.ToString("yyyy-mm-dd") class="form-control" placeholder="search" />
                                        @* <input type="date" name="startdate" value=@Model[0].StartDate.ToString("yyyy-MM-dd") class="form-control" placeholder="search" />*@
                                    </td>
                                    <td>
                                        <input type="date" name="enddate" value=@Model[0].EndDate.ToString("yyyy-mm-dd") class="form-control" placeholder="search" />
                                        @*<input type="date" name="enddate" value=@Model[0].EndDate.ToString("yyyy-MM-dd") class="form-control" placeholder="search" />*@
                                    </td>
                                    <td>
                                        <button type="submit" value="Search" class="btn btn-success">Search</button>

                                    </td>
                                </tr>

                            </table>
                        }

                    }
                </div>
            </div>
        </div>

        <div class="well">
            @using (Html.BeginForm("Generate", "PaymentList", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div style="width:100%;text-align:left;height:380px;overflow-y:scroll;border:0px;" class="clearfix">

                    <div style="padding:0 5px">
                        <table style="width:1450px;" class="table table-condensed table-striped">
                            <tr style="background-color:deepskyblue; text-align:center;">

                                @*<th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        MANDT
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        PV NO
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        PV YEAR
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        ITEM NO
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        PV DATE
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        PV TYPE
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        TRANS TYPE
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        VENDOR
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        VENDOR GRP
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        INVOICE NO
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        TAX NO
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        PAYMENT TERM
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        PAYMENT METHOD
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        PLAN PAYMENT DT
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        POSTING DT
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        TOTAL AMOUNT
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        DPP AMOUNT
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        CURRENCY
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        TAX CODE
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        HEADER TEXT
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        BANK TYPE
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        GL ACCOUNT
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        AMOUNT
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        COST CENTER
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        WBS ELEMENT
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        ITEM TEXT
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        STATUS
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        SAP DOC NO
                                    </th>
                                    <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                        SAP DOC YEAR
                                    </th>*@
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    BTR_NO
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    EMPLOYEE_NAME
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    DESTINATION
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    ID_CITY
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    BUDGET
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    TOTAL_AMOUNT
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    COST_CENTER
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    WBS_ELEMENT
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    TRAVEL_TYPE
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    BTR_DATE
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    PLAN_PAYMENT_DATE
                                </th>
                                <th style="color:white; background-color:deepskyblue; text-align:center; border-right:1px solid white;">
                                    PAYMENT_METHOD
                                </th>

                            </tr>


                            @for (int k = 0; k < Model.Count(); k++)
                            {

                                @Html.HiddenFor(Model => Model[k].No_Reg)
                                @Html.HiddenFor(Model => Model[k].Name)
                                @Html.HiddenFor(Model => Model[k].Entity.MANDT)
                                @Html.HiddenFor(Model => Model[k].Entity.PV_NO)
                                @Html.HiddenFor(Model => Model[k].Entity.PV_YEAR)
                                @Html.HiddenFor(Model => Model[k].Entity.ITEM_NO)
                                @Html.HiddenFor(Model => Model[k].Entity.PV_DATE)
                                @Html.HiddenFor(Model => Model[k].Entity.PV_TYPE)
                                @Html.HiddenFor(Model => Model[k].Entity.TRANS_TYPE)
                                @Html.HiddenFor(Model => Model[k].Entity.VENDOR)
                                @Html.HiddenFor(Model => Model[k].Entity.VENDOR_GRP)
                                @Html.HiddenFor(Model => Model[k].Entity.INVOICE_NO)
                                @Html.HiddenFor(Model => Model[k].Entity.TAX_NO)
                                @Html.HiddenFor(Model => Model[k].Entity.PAYMENT_TERM)
                                @Html.HiddenFor(Model => Model[k].Entity.PAYMENT_METHOD)
                                @Html.HiddenFor(Model => Model[k].Entity.PLAN_PAYMENT_DT)
                                @Html.HiddenFor(Model => Model[k].Entity.POSTING_DT)
                                @Html.HiddenFor(Model => Model[k].Entity.TOTAL_AMOUNT)
                                @Html.HiddenFor(Model => Model[k].Entity.DPP_AMOUNT)
                                @Html.HiddenFor(Model => Model[k].Entity.CURRENCY)
                                @Html.HiddenFor(Model => Model[k].Entity.TAX_CODE)
                                @Html.HiddenFor(Model => Model[k].Entity.HEADER_TEXT)
                                @Html.HiddenFor(Model => Model[k].Entity.BANK_TYPE)
                                @Html.HiddenFor(Model => Model[k].Entity.gl_account)
                                @Html.HiddenFor(Model => Model[k].Entity.AMOUNT)
                                @Html.HiddenFor(Model => Model[k].Entity.COST_CENTER)
                                @Html.HiddenFor(Model => Model[k].Entity.WBS_ELEMENT)
                                @Html.HiddenFor(Model => Model[k].Entity.ITEM_TEXT)
                                @Html.HiddenFor(Model => Model[k].Entity.STATUS)
                                @Html.HiddenFor(Model => Model[k].Entity.SAP_DOC_NO)
                                @Html.HiddenFor(Model => Model[k].Entity.SAP_DOC_YEAR)
                                @Html.HiddenFor(Model => Model[k].Entity.BTR_NO)
                                @Html.HiddenFor(Model => Model[k].Entity.EMPLOYEE_NAME)
                                @Html.HiddenFor(Model => Model[k].Entity.DESTINATION)
                                @Html.HiddenFor(Model => Model[k].Entity.ID_CITY)
                                @Html.HiddenFor(Model => Model[k].Entity.BUDGET)
                                @Html.HiddenFor(Model => Model[k].Entity.TOTAL_AMOUNT_)
                                @Html.HiddenFor(Model => Model[k].Entity.COST_CENTER_)
                                @Html.HiddenFor(Model => Model[k].Entity.WBS_ELEMENT_)
                                @Html.HiddenFor(Model => Model[k].Entity.TRAVEL_TYPE)
                                @Html.HiddenFor(Model => Model[k].Entity.BTR_DATE)
                                @Html.HiddenFor(Model => Model[k].Entity.PLAN_PAYMENT_DATE)
                                @Html.HiddenFor(Model => Model[k].Entity.PAYMENT_METHOD_)
                                <tr class="table-responsive">
                                    @*<td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.MANDT)

                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.PV_NO)

                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.PV_YEAR)

                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.ITEM_NO)

                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.PV_DATE)

                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.PV_TYPE)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.TRANS_TYPE)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.VENDOR)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.VENDOR_GRP)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.INVOICE_NO)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.TAX_NO)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.PAYMENT_TERM)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.PAYMENT_METHOD)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.PLAN_PAYMENT_DT)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.POSTING_DT)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.TOTAL_AMOUNT)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.DPP_AMOUNT)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.CURRENCY)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.TAX_CODE)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.HEADER_TEXT)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.BANK_TYPE)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.gl_account)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.AMOUNT)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.COST_CENTER)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.WBS_ELEMENT)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.ITEM_TEXT)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.STATUS)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.SAP_DOC_NO)
                                        </td>
                                        <td style="width:auto;" class="td">
                                            @Html.DisplayFor(Model => Model[k].Entity.SAP_DOC_YEAR)
                                        </td>*@
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.BTR_NO)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.EMPLOYEE_NAME)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.DESTINATION)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.ID_CITY)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.BUDGET)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.TOTAL_AMOUNT_)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.COST_CENTER_)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.WBS_ELEMENT_)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.TRAVEL_TYPE)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.BTR_DATE)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.PLAN_PAYMENT_DATE)
                                    </td>
                                    <td style="width:auto;" class="td">
                                        @Html.DisplayFor(Model => Model[k].Entity.PAYMENT_METHOD_)
                                    </td>
                                </tr>
                            }
                        </table>

                    </div>


                </div>
                //@Html.Partial("_BreadCrum");

                //@Html.ActionLink("Download Text File", "CreateFile", "Payment List")
                <table>

                    <tr>

                        <td>

                            <button id="button" class="btn btn-info btn-lg" type="submit" name="Submit" value="Submit"><span class="glyphicon glyphicon-download"></span>&nbsp;Download</button>
                        </td>
                    </tr>
                </table>
            }
        </div>
        <div id="show" class="alert alert-success" hidden>
            <strong>Success!</strong> Check File Download on Folder.
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#button").click(function () {
            $("#show").fadeIn();
        });
    });
</script>