@model CONTRAST_WEB.Models.SettlementPaidHelper
@{
    ViewBag.Title = "SETTLEMENT";
    Layout = "~/Views/Shared/_LayoutLg.cshtml";
    var a = Model;
}
@using (Html.BeginForm("Print", "SettlementList", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Summary.create_date)
    @Html.HiddenFor(m => m.Summary.destination_1)
    @Html.HiddenFor(m => m.Summary.destination_2)
    @Html.HiddenFor(m => m.Summary.destination_3)
    @Html.HiddenFor(m => m.Summary.destination_4)
    @Html.HiddenFor(m => m.Summary.destination_5)
    @Html.HiddenFor(m => m.Summary.destination_6)
    @Html.HiddenFor(m => m.Summary.emp_name)
    @Html.HiddenFor(m => m.Summary.endDate_1)
    @Html.HiddenFor(m => m.Summary.endDate_2)
    @Html.HiddenFor(m => m.Summary.endDate_3)
    @Html.HiddenFor(m => m.Summary.endDate_4)
    @Html.HiddenFor(m => m.Summary.endDate_5)
    @Html.HiddenFor(m => m.Summary.endDate_6)
    @Html.HiddenFor(m => m.Summary.grand_total_settlement)
    @Html.HiddenFor(m => m.Summary.group_code)
    @Html.HiddenFor(m => m.Summary.no_reg)
    @Html.HiddenFor(m => m.Summary.startDate_1)
    @Html.HiddenFor(m => m.Summary.startDate_2)
    @Html.HiddenFor(m => m.Summary.startDate_3)
    @Html.HiddenFor(m => m.Summary.startDate_4)
    @Html.HiddenFor(m => m.Summary.startDate_5)
    @Html.HiddenFor(m => m.Summary.startDate_6)
    @Html.HiddenFor(m => m.Summary.total_hotel)
    @Html.HiddenFor(m => m.Summary.total_laundry)
    @Html.HiddenFor(m => m.Summary.total_meal)
    @Html.HiddenFor(m => m.Summary.total_miscellaneous)
    @Html.HiddenFor(m => m.Summary.total_preparation)
    @Html.HiddenFor(m => m.Summary.total_ticket)
    @Html.HiddenFor(m => m.Summary.total_transportation)
    @Html.HiddenFor(m => m.Summary.total_winter)
    @Html.HiddenFor(m => m.MealSettlement)
    @Html.HiddenFor(m => m.HotelSettlement)
    @Html.HiddenFor(m => m.TicketSettlement)
    @Html.HiddenFor(m => m.StartSettlement)
    @Html.HiddenFor(m => m.EndSettlement)




    @Html.AntiForgeryToken()
    <div style="margin:100px 0px;" class="container containshad">
        <div style="margin-top:110px" class="row">
            <div class="col-md-5 col-md-offset-1">
                <span><img style="height:60px" src="~/img/tam_logo.png" /></span>
                <span style="font-size:20px;">PT. TOYOTA ASTRA MOTOR</span>
            </div>
            <div style="width:450px; margin-bottom:10px;" class="col-md-11 col-md-offset-1"><h5 class="h5c">SETTLEMENT RECEIPT</h5></div>
            <div style="border-bottom:2px solid black; width:1000px; margin-bottom:20px;" class="col-md-11 col-md-offset-1"></div>
            <div class="col-md-5 col-md-offset-1"><h6 style="text-align:left; margin-top:0px;">Jl. Laks. Yos Sudarso, Sunter II</h6></div>
            <div class="col-md-5 col-md-offset-1"><h6 style="text-align:left; margin-top:0px;">ID :<strong> @Html.DisplayFor(m => m.Summary.group_code, new { placeholder = "Availability", @class = "form-control" })</strong></h6></div>
            <div class="col-md-5 col-md-offset-1"><h6 style="text-align:left; margin-top:0px;">Jakarta Utara - Indonesia</h6></div>
            <div class="col-md-5 col-md-offset-1"><h6 style="text-align:left; margin-top:0px;">NAME : <strong>@Html.DisplayFor(m => m.Summary.emp_name, new { placeholder = "Availability", @class = "form-control" })</strong>( <strong>@Html.DisplayFor(m => m.Summary.no_reg, new { placeholder = "Availability", @class = "form-control" })</strong> )</h6></div>

            <div style="width:950px;" class="col-md-11 col-md-offset-1"><h6 style="text-align:left; margin-top:0px;">Phone :62-21 - 6515551(Hunting)</h6></div>

            <div style="width:950px; margin-top:20px;" class="col-md-11 col-md-offset-1"><h5 class="h5z">DETAIL TRAVEL</h5></div>
            <div style="margin-left:150px" class="clearfix main">
                @if (Model.Summary.destination_2 == null && Model.Summary.destination_1 != null && Model.Summary.destination_3 == null)
                {
                    <div class="main1">
                        <div class="bulet">
                            <div class="bulet1" style="background: rgb(246, 246, 246);">
                                <div class="bulet2">
                                </div>
                            </div>
                        </div>
                        <div class="teks">
                            <div style="color:gray" class="teks1">
                                <span>From</span>
                                <span>Jakarta</span>
                            </div>
                        </div>
                        <div class="lab">
                            <div class="lab1">
                                Date : @Html.DisplayFor(m => m.Summary.startDate_1, "{dd/MM/yyyy}", new { @type = "datetime", placeholder = "Availability", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="main1"></div>
                    <div class="main1">
                        <div class="buled">
                            <div class="bulet1" style="background: rgb(246, 246, 246);">
                                <div class="buled2"></div>
                            </div>
                        </div>
                        <div class="teks">
                            <div style="color:#00b4ee" class="teks1">
                                To
                                <span>
                                    @Html.DisplayFor(m => m.Summary.destination_1, new { placeholder = "Availability", @class = "form-control" })
                                </span>
                            </div>
                        </div>
                        <div class="lab">
                            <div style="color:#00b4ee" class="lab1">Return : @Html.DisplayFor(m => m.Summary.endDate_1, new { placeholder = "Availability", @class = "form-control", @type = "date" })</div>
                        </div>
                    </div>
                }
                @if (Model.Summary.destination_2 != null && Model.Summary.destination_1 != null && Model.Summary.destination_3 != null)
                {
                    <div class="main1">
                        <div class="bulet">
                            <div class="bulet1" style="background: rgb(246, 246, 246);">
                                <div class="bulet2">
                                </div>
                            </div>
                        </div>
                        <div class="teks">
                            <div style="color:gray" class="teks1">
                                <span>From</span>
                                <span>Jakarta</span>
                            </div>
                        </div>
                        <div class="lab">
                            <div class="lab1">
                                Date : @Html.DisplayFor(m => m.Summary.startDate_1.Value.Date, new { @type = "datetime", placeholder = "Availability", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="main1"></div>
                    <div class="main1">
                        <div class="bulet">
                            <div class="bulet1" style="background: rgb(246, 246, 246);">
                                <div class="bulet2">
                                </div>
                            </div>
                        </div>
                        <div class="teks">
                            <div style="color:#00b4ee" class="teks1">
                                To
                                <span>
                                    @Html.DisplayFor(m => m.Summary.destination_1, new { placeholder = "Availability", @class = "form-control" })
                                </span>
                            </div>
                        </div>
                        <div class="lab">
                            <div class="lab1">
                                Date : @Html.DisplayFor(m => m.Summary.startDate_1.Value.Date, new { @type = "datetime", placeholder = "Availability", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="main1"></div>
                    <div class="main1">
                        <div class="buled">
                            <div class="bulet1" style="background: rgb(246, 246, 246);">
                                <div class="buled2"></div>
                            </div>
                        </div>
                        <div class="teks">
                            <div style="color:#00b4ee" class="teks1">
                                To
                                <span>
                                    @Html.DisplayFor(m => m.Summary.destination_2, new { placeholder = "Availability", @class = "form-control" })
                                </span>
                            </div>
                        </div>
                        <div class="lab">
                            <div style="color:#00b4ee" class="lab1">Return : @Html.DisplayFor(m => m.Summary.endDate_1, new { @type = "datetime", placeholder = "Availability", @class = "form-control" })</div>
                        </div>
                    </div>
                }
                @if (Model.Summary.destination_3 != null)
                {
                    <div class="main1">
                        <div class="buled">
                            <div class="bulet1" style="background: rgb(246, 246, 246);">
                                <div class="buled2"></div>
                            </div>
                        </div>
                        <div class="teks">
                            <div style="color:#00b4ee" class="teks1">
                                To
                                <span>
                                    @Html.DisplayFor(m => m.Summary.destination_3, new { placeholder = "Availability", @class = "form-control" })
                                </span>
                            </div>
                        </div>
                        <div class="lab">
                            <div style="color:#00b4ee" class="lab1">Date : @Html.DisplayFor(m => m.Summary.endDate_3, new { @type = "datetime", placeholder = "Availability", @class = "form-control" })</div>
                        </div>
                    </div>
                }
                @if (Model.Summary.destination_4 != null)
                {
                    <div class="main1">
                        <div class="buled">
                            <div class="bulet1" style="background: rgb(246, 246, 246);">
                                <div class="buled2"></div>
                            </div>
                        </div>
                        <div class="teks">
                            <div style="color:#00b4ee" class="teks1">
                                To
                                <span>
                                    @Html.DisplayFor(m => m.Summary.destination_4, new { placeholder = "Availability", @class = "form-control" })
                                </span>
                            </div>
                        </div>
                        <div class="lab">
                            <div style="color:#00b4ee" class="lab1">Date : @Html.DisplayFor(m => m.Summary.endDate_4, new { @type = "datetime", placeholder = "Availability", @class = "form-control" })</div>
                        </div>
                    </div>
                }
                @if (Model.Summary.destination_5 != null)
                {
                    <div class="main1">
                        <div class="buled">
                            <div class="bulet1" style="background: rgb(246, 246, 246);">
                                <div class="buled2"></div>
                            </div>
                        </div>
                        <div class="teks">
                            <div style="color:#00b4ee" class="teks1">
                                To
                                <span>
                                    @Html.DisplayFor(m => m.Summary.destination_5, new { placeholder = "Availability", @class = "form-control" })
                                </span>
                            </div>
                        </div>
                        <div class="lab">
                            <div style="color:#00b4ee" class="lab1">Date : @Html.DisplayFor(m => m.Summary.endDate_5, new { @type = "datetime", placeholder = "Availability", @class = "form-control" })</div>
                        </div>
                    </div>
                }
            </div>
            <div style="width:950px" class="col-md-11 col-md-offset-1"><h5 class="h5z"><span style="margin-left:50px;">ITEM</span><span style="margin-left:250px;">SUSPENSE</span><span style="margin-left:200px;">REIMBURSE</span></h5></div>
            <div class="col-md-3 col-md-offset-1">
                <div style="width:200px" class="col-md-12">
                    <span><h5 class="h5c">MEAL</h5></span>
                </div>
                <div style="width:200px" class="col-md-12">
                    <span><h5 class="h5c">HOTEL</h5></span>
                </div>
                <div style="width:200px" class="col-md-12">
                    <span><h5 class="h5c">TICKET</h5></span>
                </div>
                <div style="width:200px" class="col-md-12">
                    <span><h5 class="h5c">LAND TRANSPORT</h5></span>
                </div>
                <div style="width:200px" class="col-md-12">
                    <span><h5 class="h5c">LAUNDRY</h5></span>
                </div>
                <div style="width:200px" class="col-md-12">
                    <span><h5 class="h5c">OTHER</h5></span>
                </div>
            </div>
            <div class="col-md-3">
                <div style="width:200px" class="col-md-12">
                    <span><h5 style="text-align:left; color:darkgrey;margin:8px;" class="h5z">RP. @String.Format("{0:n0}", Model.Summary.total_meal)</h5></span>
                </div>
                <div style="width:200px" class="col-md-12">
                    <span><h5 style="text-align:left; color:darkgrey;margin:8px;" class="h5z">RP. @String.Format("{0:n0}", Model.Summary.total_hotel)</h5></span>
                </div>
                <div style="width:200px" class="col-md-12">
                    <span><h5 style="text-align:left; color:darkgrey;margin:8px;" class="h5z">RP. @String.Format("{0:n0}", Model.Summary.total_ticket)</h5></span>
                </div>
                <div style="width:200px" class="col-md-12">
                    <span><h5 style="text-align:left; color:darkgrey;margin:8px;" class="h5z">RP. 0</h5></span>
                </div>
                <div style="width:200px" class="col-md-12">
                    <span><h5 style="text-align:left; color:darkgrey;margin:8px;" class="h5z">RP. 0</h5></span>
                </div>
                <div style="width:200px" class="col-md-12">
                    <span><h5 style="text-align:left; color:darkgrey;margin:8px;" class="h5z">RP. 0</h5></span>
                </div>
            </div>
            <div class="col-md-3">
                <div style="width:200px" class="col-md-12">
                    <span><h5 style="text-align:left; color:darkgrey;margin:8px;" class="h5z">RP. @String.Format("{0:n0}", Model.MealSettlement)</h5></span>
                </div>
                <div style="width:200px" class="col-md-12">
                    <span><h5 style="text-align:left; color:darkgrey;margin:8px;" class="h5z">RP. @String.Format("{0:n0}", Model.HotelSettlement)</h5></span>
                </div>
                <div style="width:200px" class="col-md-12">
                    <span><h5 style="text-align:left; color:darkgrey;margin:8px;" class="h5z">RP. @String.Format("{0:n0}", Model.TicketSettlement)</h5></span>
                </div>
                <div style="width:200px" class="col-md-12">
                    <span><h5 style="text-align:left; color:darkgrey;margin:8px;" class="h5z">RP. @String.Format("{0:n0}", Model.Summary.total_transportation)</h5></span>
                </div>
                <div style="width:200px" class="col-md-12">
                    <span><h5 style="text-align:left; color:darkgrey;margin:8px;" class="h5z">RP. @String.Format("{0:n0}", Model.Summary.total_laundry)</h5></span>
                </div>
                <div style="width:200px" class="col-md-12">
                    <span><h5 style="text-align:left; color:darkgrey;margin:8px;" class="h5z">RP. @String.Format("{0:n0}", Model.Summary.total_miscellaneous)</h5></span>
                </div>
            </div>

            <div style="margin-top:20px;" class="col-md-11 col-md-offset-1 h5x">
                <h5 class="h5a">Total Budget</h5>
                <label>RP.&nbsp;@String.Format("{0:n0}", Model.Summary.grand_total_settlement) @*@Html.DisplayFor(m => m.grand_total_settlement)*@</label>
            </div>
            <div class="col-md-11 col-md-offset-1">
                <img style="height:200px" src="~/img/receipt-paid4.png" />
            </div>
            <div class="col-md-11 col-md-offset-1"><h5 class="h5z2"></h5></div>
            <div class="form-group col-md-11 col-md-offset-1">
                <span>
                    <strong>Save Document for Proof of Receipt :</strong>
                </span>
                &nbsp;&nbsp;
                <span>
                    <button style="width:145px" type="submit" class="btn btn-warning btn-lg">DOWNLOAD</button>
                </span>
                &nbsp;&nbsp;
                <span style="float:right;margin-right:10px;">
                    @*@Html.ActionLink("Close", "Index", "Home", new { @class = "button" })*@
                    <button type="button" style="width:145px" class="btn btn-default btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm" value="Submit">CLOSE</button>
                </span>
                @*<a href="javascript:void(0);" onclick="history.go(-3);">CLOSE</a>*@


                <!--wates-->
                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div style="height:50px" class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">X</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="mySmallModalLabel">Notification</h4>
                            </div>
                            <div class="modal-body">
                                <div style="text-align:center;">
                                    <strong>Have you <button style="width:145px" type="submit" class="btn btn-warning btn-lg">DOWNLOAD</button> Receipt of Settlement ?</strong> &nbsp;<span>@Html.ActionLink("Yes", "SubmittedMSTR", "TravelRequest") &nbsp; | </span><span><button type="button" class="btn-link" data-dismiss="modal">No</button></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}