@model CONTRAST_WEB.Models.TravelRequestHelper
@{
    ViewBag.Title = "Validation";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}


@using (Html.BeginForm("Index2", "Menu", FormMethod.Post))
{
    <div class="container">
        <div style="margin-top:100px" class="row">
            <div class="col-md-8 col-md-offset-1"><h4 style="text-align:left; padding:10px;">DATA VERIVFICATION</h4></div>
            <div class="col-md-3"></div>
            <form action="" id="loginForm">
                <div class="col-md-5 col-md-offset-1">
                    <label style="font-family:'Lucida Sans'; font-size:10px; margin-bottom:5px; color:gray;">NO REG</label>
                    <div class="form-group input-group" style="border-bottom:0.5px solid grey; width:450px; color:grey; text-align:left; ">
                        @Html.DisplayFor(m => m.employee_info.code, new { @class = "form-control", placeholder = "No Reg", @readonly = "readonly" })
                        @Html.HiddenFor(m => m.employee_info.code)
                    </div>


                    <label style="font-family:'Lucida Sans'; font-size:10px; margin-bottom:5px; color:gray;">USERNAME</label>
                    <div class="form-group input-group" style="border-bottom:0.5px solid grey; width:450px; color:grey; text-align:left; ">
                        @Html.DisplayFor(m => m.employee_info.name, new { @class = "form-control", @readonly = "readonly" })
                        @Html.HiddenFor(m => m.employee_info.name)
                    </div>

                    <label style="font-family:'Lucida Sans'; font-size:10px; margin-bottom:5px; color:gray;">Class</label>
                    <div class="form-group input-group" style="border-bottom:0.5px solid grey; width:450px; color:grey; text-align:left; ">
                        @Html.DisplayFor(m => m.employee_info.@class, new { @class = "form-control", @readonly = "readonly" })
                        @Html.HiddenFor(m => m.employee_info.@class)
                    </div>

                    <label style="font-family:'Lucida Sans'; font-size:10px; margin-bottom:5px; color:gray;">Division</label>
                    <div class="form-group input-group" style="border-bottom:0.5px solid grey; width:450px; color:grey; text-align:left; ">
                        @Html.DisplayFor(m => m.employee_info.unit_code_code, new { @class = "form-control", @readonly = "readonly" })
                        @Html.HiddenFor(m => m.employee_info.unit_code_code)
                    </div>

                    <label style="font-family:'Lucida Sans'; font-size:10px; margin-bottom:5px; color:gray;">Travel Purpose</label>
                    <div class="form-group input-group" style="border-bottom:0.5px solid grey; width:450px; color:grey; text-align:left; ">
                        <!--<input class="form-control" type="text" name='division' placeholder="Assigned By" />-->
                        @Html.DisplayFor(m => m.travel_request.travel_purpose, new { @class = "form-control", @readonly = "readonly" })
                        @Html.HiddenFor(m => m.travel_request.travel_purpose)
                    </div>


                    <label style="font-family:'Lucida Sans'; font-size:10px; margin-bottom:5px; color:gray;">Assigned By</label>
                    <div class="form-group input-group" style="border-bottom:0.5px solid grey; width:450px; color:grey; text-align:left; ">
                        <!--<input class="form-control" type="text" name='division' placeholder="Assigned By" />-->
                        @Html.DisplayFor(m => m.travel_request.assign_by, new { @class = "form-control", @readonly = "readonly" })
                        @Html.HiddenFor(m => m.travel_request.assign_by)
                    </div>
                    <div style="text-align:left; padding:15px 15px; margin-bottom:10px;" class="form-control input-group wellIn">
                        <label>Derparture Date :</label>
                        <div style="margin-bottom:10px;" class="input-group">
                            <span>@Html.DisplayFor(m => m.travel_request.start_date, new { @class = "form-control", @type = "datetime-local", placeholder = "Departure" })</span>
                            @Html.HiddenFor(m => m.travel_request.start_date)
                        </div>
                        <label>Return Date :</label>
                        <div class="input-group">
                            @Html.DisplayFor(m => m.travel_request.end_date, new { @class = "form-control", @type = "datetime-local", placeholder = "Return" })
                            @Html.HiddenFor(m => m.travel_request.end_date)
                        </div>
                    </div>
                    <label style="font-family:'Lucida Sans'; font-size:10px; margin-bottom:5px; color:gray;">Duration</label>
                    <div class="form-group input-group" style="border-bottom:0.5px solid grey; width:450px; color:grey; text-align:left; ">
                        @Html.DisplayFor(m => m.travel_request.duration, new { @class = "form-control", placeholder = "Duration" }) Days
                        @Html.HiddenFor(m => m.travel_request.duration)
                    </div>

                    <label style="font-family:'Lucida Sans'; font-size:10px; margin-bottom:5px; color:gray;">List Participants</label>
                    <div style="text-align:left;" class="input-group">
                        <ol style="padding-left:0px;">
                            @for (int i = 0; i < Model.participants.Count; i++)
                            {
                                <li>
                                    @Html.DisplayFor(m => m.participants[i].no_reg, new { @class = "form-control", placeholder = "No Reg", @readonly = "readonly" })
                                </li>
                                @Html.HiddenFor(m => m.participants[i].no_reg)
                                @Html.HiddenFor(m => m.participants[i].no_reg_parent)
                            }
                        </ol>
                    </div>
                </div>

                <div class="col-md-5">
                    <label style="font-family:'Lucida Sans'; font-size:10px; margin-bottom:5px; color:gray;">Reason Of Assignment</label>
                    <div class="form-group input-group" style="border-bottom:0.5px solid grey; width:450px; color:grey; text-align:left; ">
                        @Html.DisplayFor(m => m.travel_request.reason_of_assigment, new { @class = "form-control", placeholder = "Reason Assigment" })
                        @Html.HiddenFor(m => m.travel_request.reason_of_assigment)
                    </div>

                    <label style="font-family:'Lucida Sans'; font-size:10px; margin-bottom:5px; color:gray;">Request Type</label>
                    <div class="form-group input-group" style="color:grey; text-align:left; ">
                        @Html.TextBox("adasd", Model.travel_request.request_type.Value == true ? "Planned" : "Unplanned", new { @style = "border:0px;border-bottom:0.5px solid grey; width:450px;color:grey; ", placeholder = "Reason Assigment", @readonly = "readonly" })
                        @Html.HiddenFor(m => m.travel_request.request_type)
                    </div>

                    <label style="font-family:'Lucida Sans'; font-size:10px; margin-bottom:5px; color:gray;">Destination</label>
                    <div class="form-group input-group" style="color:grey; text-align:left; ">
                        @Html.TextBox("adasd", Model.travel_request.overseas_flag.Value == true ? "Overseas" : "Domestic", new { @style = "border:0px;border-bottom:0.5px solid grey; width:450px;color:grey;", @readonly = "readonly" })
                        @Html.HiddenFor(m => m.travel_request.overseas_flag)
                    </div>


                    <div class="form-group input-group" style="border-bottom:0.5px solid grey; width:450px; color:grey; text-align:left; ">
                        <label style="font-family:'Lucida Sans'; font-size:10px; margin-bottom:5px; color:gray;">City Code:</label>

                        @Html.DisplayFor(m => m.travel_request.id_destination_city, new { @style = "border:0px;", placeholder = "T" })
                        @Html.HiddenFor(m => m.travel_request.id_destination_city)
                    </div>

                    <label style="font-family:'Lucida Sans'; font-size:10px; margin-bottom:5px; color:gray;">New or Renewal Passport ?</label>
                    <div class="form-group input-group" style="color:grey; text-align:left; ">
                        @Html.TextBox("adasd", Model.travel_request.passport_flag == true ? "Yes" : "No", new { @style = "border:0px;border-bottom:0.5px solid grey; width:450px; ", placeholder = "Reason Assigment", @readonly = "readonly" })
                        @Html.HiddenFor(m => m.travel_request.passport_flag)
                    </div>

                    <!--<input type="radio" name="optionsRadios2" id="optionsRadios2" value="no"> No-->
                    <!--
                    <div class="form-group">
                        <a href="/Participant/" class="btn btn-default btn-block"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Participant</a>
                    </div>
                    -->
                    @*<br />*@
                    <label style="font-family:'Lucida Sans'; font-size:10px; margin-bottom:5px; color:gray;">Bank Account</label>
                    <div class="form-group input-group" style="border-bottom:0.5px solid grey; width:450px; color:grey; text-align:left; ">
                        @Html.DisplayFor(m => m.employee_info.bank_account, new { @class = "form-control", @readonly = "readonly" })
                        @Html.HiddenFor(m => m.employee_info.bank_account)
                        <!--<input class="form-control" type="text" name='destination' style="margin-top: 3px; display:block;" placeholder="No. Rekening" />-->
                        <br />
                    </div>

                    <label class="fnt1">BUDGET</label>
                    <br />

                    <div style="text-align:left; padding:0px 15px; margin-bottom:10px;" class="wellIn">
                        <label class="fnt2">Meal Allowance&nbsp;</label>
                        <br />
                        <label>RP.&nbsp;@Html.DisplayFor(m => m.travel_request.allowance_meal_idr, new { placeholder = "Meal Allowance" })</label>
                        @Html.HiddenFor(m => m.travel_request.allowance_meal_idr)
                    </div>

                    <div style="text-align:left; padding:0px 15px; margin-bottom:10px;" class="wellIn">
                        <label class="fnt2">Travel Allowance&nbsp;</label>
                        <br />
                        <label>RP.&nbsp;@Html.DisplayFor(m => m.travel_request.allowance_hotel, new { placeholder = "Hotel Allowance" })</label>
                        @Html.HiddenFor(m => m.travel_request.allowance_hotel)
                    </div>

                    <div style="text-align:left; padding:0px 15px; margin-bottom:10px;" class="wellIn">
                        <label class="fnt2">Ticket Allowance&nbsp;</label>
                        <br />
                        <label>RP.&nbsp;@Html.DisplayFor(m => m.travel_request.allowance_ticket, new { placeholder = "Allowance Allowance" })</label>
                        @Html.HiddenFor(m => m.travel_request.allowance_ticket)
                    </div>

                    @if (Model.travel_request.allowance_winter == 0)
                    {

                    }
                    else
                    {
                        <div class="form-group input-group has-success has-feedback">
                            <label>Winter Allowance : RP.</label>
                            @Html.DisplayFor(m => m.travel_request.allowance_winter, new { @class = "form-control", placeholder = "Allowance Allowance" })
                            @Html.HiddenFor(m => m.travel_request.allowance_winter)
                        </div>
                    }

                    @if (Model.travel_request.allowance_preparation == 0)
                    {

                    }
                    else
                    {
                        <div class="form-group input-group has-success has-feedback">
                            <label>Preparation Allowance : RP.</label>
                            @Html.DisplayFor(m => m.travel_request.allowance_preparation, new { @class = "form-control", placeholder = "Allowance Allowance" })
                            @Html.HiddenFor(m => m.travel_request.allowance_preparation)
                        </div>
                    }

                    <label class="fnt1">GRAND TOTAL</label>
                    <div class="form-group">
                        @Html.TextBox("asda", "RP. " + Model.travel_request.grand_total_allowance, new { @class = "form-control", @readonly = "readonly", @style = " background-color: #228B22;color: white; text-align: center;font-weight: bold;" })
                        @Html.HiddenFor(m => m.travel_request.grand_total_allowance)
                    </div>

                    @Html.HiddenFor(m => m.travel_request.destination_code)
                    @Html.HiddenFor(m => m.travel_request.apprv_flag_lvl5)
                    @Html.HiddenFor(m => m.travel_request.apprv_flag_lvl1)
                    @Html.HiddenFor(m => m.travel_request.apprv_flag_lvl2)
                    @Html.HiddenFor(m => m.travel_request.apprv_flag_lvl3)
                    @Html.HiddenFor(m => m.travel_request.apprv_flag_lvl4)
                    @Html.HiddenFor(m => m.travel_request.create_date)
                    @Html.HiddenFor(m => m.travel_request.exep_empolyee)
                    @for (int i = 0; i < Model.participants.Count - 1; i++)
                    {
                        @Html.HiddenFor(m => m.participants[i].no_reg)
                        @Html.HiddenFor(m => m.participants[i].no_reg_parent)
                        @Html.HiddenFor(m => m.participants[i].active_flag)
                        @Html.HiddenFor(m => m.participants[i].created_date)

                    }


                    <button type="submit" style="width:145px" class="btn btn-info btn-lg" value="Submit">Submit</button>
                    <button style="width:145px" type="button" class="btn btn-default btn-lg" onclick="goBack()">Cancel</button>
                </div>
            </form>
        </div>
        <hr />
    </div>
}