@model CONTRAST_WEB.Models.TravelRequestHelper
@{
    ViewBag.Title = "TRAVEL PLAN CONFIRMATION";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    List<SelectListItem> asd = new List<SelectListItem>();
    List<SelectListItem> asd2 = new List<SelectListItem>();
    asd = ViewBag.RL;
    asd2 = ViewBag.RL2;
    List<string> ModelList = new List<string>();
    ModelList = ViewBag.RL3;

}
<div class="container">
    <div style="margin-top:65px" class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <h4 style="text-align:left; padding:10px; margin-bottom:0px;">TRAVEL ASSIGNMENT</h4>
        </div>
        <div class="col-xs-11 col-xs-offset-1">
            <h5 style="text-align:left; margin-top:0px; padding:0 10px;">"Surat Perintah Perjalanan Dinas"</h5>
        </div>

        <div class="col-xs-12">
            @using (Html.BeginForm("AddParticipant", "TravelRequest", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.employee_info.code)
                @Html.HiddenFor(m => m.employee_info.name)
                @Html.HiddenFor(m => m.employee_info.@class)
                @Html.HiddenFor(m => m.employee_info.unit_code_code)
                @Html.HiddenFor(m => m.travel_request.travel_purpose)
                @Html.HiddenFor(m => m.travel_request.assign_by)
                @Html.HiddenFor(m => m.travel_request.start_date)
                @Html.HiddenFor(m => m.travel_request.end_date)
                @Html.HiddenFor(m => m.travel_request.reason_of_assigment)
                @Html.HiddenFor(m => m.travel_request.request_type)
                @Html.HiddenFor(m => m.travel_request.overseas_flag)
                @Html.HiddenFor(m => m.travel_request.id_destination_city)
                @Html.HiddenFor(m => m.travel_request.passport_flag)
                @Html.HiddenFor(m => m.employee_info.bank_account)
                @Html.HiddenFor(m => m.travel_request.destination_code)
                <strong style="color:deepskyblue">ADD PARTICIPANT :</strong>
                <div style="width:450px;" class="input-group">
                    <!--<a href="/Participant/" class="btn btn-default btn-block"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Participant</a>-->
                    @Html.TextBoxFor(m => m.participants[Model.participants.Count() - 1].no_reg, new { @class = "form-control", placeholder = "Type..", id = "searchInput" })
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-lg form-control" value="Submit">Add</button>
                    </span>
                </div>
                for (int i = 0; i < Model.participants.Count; i++)
                {
                    @Html.HiddenFor(m => m.participants[i].no_reg)
                    @Html.HiddenFor(m => m.participants[i].no_reg_parent)
                    @Html.HiddenFor(m => m.participants[i].active_flag)
                }
            }
        </div>
        @*@using (Html.BeginForm("Index", "TravelRequestValidation", FormMethod.Post))*@
        @using (Html.BeginForm("Index2", "Menu", FormMethod.Post))
        {
            <div class="col-xs-11 col-xs-offset-1">
                <div style="margin-bottom:5px; padding:5px 5px;">
                    <span class="fnt2"><strong>LIST PARTICIPANTS :</strong></span>
                </div>
                <div style="border-radius: 4px;width:450px;height: 145px;overflow-y: scroll;" class="wellNo">
                    <div style="text-align:left;margin-top:10px;" class="input-group">
                        <ol class="custom-bullet">
                            @for (int i = 0; i < Model.participants.Count - 1; i++)
                            {
                                <li>
                                    @Html.TextBox("aaaa", ModelList[i], new { @readonly = "readonly", @style = "border:0px;color:grey;" })
                                    @*@Html.DisplayFor(m => m.participants[i].no_reg, new { @class = "form-control", placeholder = "No Reg", @readonly = "readonly" })*@
                                    @*@Html.ActionLink("| Delete", "Delete")*@
                                    <button style="width:80px" type="button" class="btn btn-danger btn-xs" onclick="goBack()">Delete</button>
                                </li>
                                <hr style="margin:10px 5px;" />
                                @Html.HiddenFor(m => m.participants[i].no_reg)
                                @Html.HiddenFor(m => m.participants[i].no_reg_parent)
                            }
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-xs-11 col-xs-offset-1">
                <div style="height:50px; padding-top:20px;">
                    <strong style="color:deepskyblue">INFO EMPLOYEE</strong>
                </div>
            </div>
            <div style="padding:5px 25px;" class="col-xs-11 col-xs-offset-1">
                @*<strong style="color:deepskyblue">EMPLOYEE INFO :</strong>*@
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                    @Html.TextBoxFor(m => m.employee_info.code, new { @class = "form-control", placeholder = "No Reg", @readonly = "readonly" })
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.TextBoxFor(m => m.employee_info.name, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-stats"></i></span>
                    @Html.TextBoxFor(m => m.employee_info.@class, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th-large"></i></span>
                    @Html.TextBoxFor(m => m.employee_info.unit_code_code, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-check"></i></span>
                    <!--<input class="form-control" type="text" name='division' placeholder="Assigned By" />-->
                    @Html.TextBoxFor(m => m.travel_request.assign_by, new { @class = "form-control", placeholder = "Assigned By" })
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                    @Html.TextBox("asd", Model.travel_request.request_type == true ? "Planned" : "Unplanned", new { @class = "form-control", @readonly = "readonly" })
                    @Html.HiddenFor(m => m.travel_request.request_type)
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                    @Html.DropDownListFor(m => m.travel_request.travel_purpose, asd2, "-Travel Purpose-", new { @class = "form-control", placeholder = "Purpose" })
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                    @Html.TextBoxFor(m => m.travel_request.reason_of_assigment, new { @class = "form-control", placeholder = "Reason Assigment" })
                </div>
                <div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                        @Html.DropDownListFor(m => m.travel_request.travel_purpose, asd2, "-Activity-", new { @class = "form-control", placeholder = "Purpose" })
                    </div>
                </div>
            </div>
            <div class="col-xs-11 col-xs-offset-1">
                <hr />
                <strong class="fnt2">Select Destination :</strong>
                <div style="width:150px;" class="radio">
                    <label style="float:left;" id="sgl">
                        @Html.RadioButtonFor(m => m.travel_request.multiple_destination_flag, false, new { onclick = "javascript:yesnoCheck();", name = "yesno", id = "noCheck", @checked = true }) Single
                    </label>
                    <label style="float:right;" id="mlt">
                        @Html.RadioButtonFor(m => m.travel_request.multiple_destination_flag, true, new { onclick = "javascript:yesnoCheck();", name = "yesno", id = "yesCheck" }) Multiple
                    </label>
                </div>
                <div style="padding:5px; height:220px;" id="des1">
                    <strong style="color:deepskyblue">DESTINATION 1</strong>
                    <br />
                    <p class="fnt2">Derparture Date :</p>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        @Html.TextBoxFor(m => m.travel_request.start_date, new { @class = "form-control", @type = "datetime-local", placeholder = "Departure" })
                    </div>
                    <p class="fnt2">Return Date :</p>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        @Html.TextBoxFor(m => m.travel_request.end_date, new { @class = "form-control", @type = "datetime-local", placeholder = "Return" })
                    </div>
                    <div style="margin-bottom:0px;display:none;float:left;" class="form-group input-group" id="ifYes">
                        <a class="btn btn-info" id="b1show">ADD DESTINATION</a>
                    </div>
                </div>
                <div style="padding:5px; height:220px;" id="des2" hidden>
                    <strong style="color:deepskyblue">DESTINATION 2</strong>
                    <p class="fnt2">Derparture Date :</p>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        @Html.TextBoxFor(m => m.tstart_date[0], new { @class = "form-control", @type = "datetime-local", placeholder = "Departure" })
                    </div>
                    <p class="fnt2">Return Date :</p>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        @Html.TextBoxFor(m => m.tend_date[0], new { @class = "form-control", @type = "datetime-local", placeholder = "Return" })
                    </div>
                    <div class="form-group input-group">
                        <a class="btn btn-info" id="b2show">ADD DESTINATION</a>
                    </div>
                </div>
                <div style="padding:5px; height:220px;" id="des3" hidden>
                    <strong style="color:deepskyblue">DESTINATION 3</strong>
                    <p class="fnt2">Derparture Date :</p>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        @Html.TextBoxFor(m => m.tstart_date[1], new { @class = "form-control", @type = "datetime-local", placeholder = "Departure" })
                    </div>
                    <p class="fnt2">Return Date :</p>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        @Html.TextBoxFor(m => m.tend_date[1], new { @class = "form-control", @type = "datetime-local", placeholder = "Return" })
                    </div>
                </div>
                <div style="padding:5px; height:200px;" id="des1">
                    <strong class="fnt2">Transportation :</strong>
                    <div style="width:125px;" class="radio">
                        <label style="float:left;">
                            <input type="radio" name="optionsRadios1" id="optionsRadiosDomestic" value="flight" checked>
                            Flight
                        </label>
                        <label style="float:right;">
                            <input type="radio" name="optionsRadios1" id="optionsRadiosOverseas" value="land">
                            Land
                        </label>
                    </div>
                    <strong class="fnt2">Destination :</strong>
                    <div style="width:170px;" class="radio">
                        <label>
                            <!--<input type="radio" name="optionsRadios1" id="optionsRadiosDomestic" value="domestic" checked>-->
                            @Html.RadioButtonFor(m => m.travel_request.overseas_flag, false, new { @checked = true }) Domestic
                        </label>
                        <label style="float:right;">
                            <!--<input type="radio" name="optionsRadios1" id="optionsRadiosOverseas" value="overseas">-->
                            @Html.RadioButtonFor(m => m.travel_request.overseas_flag, true) Overseas
                        </label>
                    </div>
                    <div>
                        @Html.DropDownListFor(m => m.travel_request.id_destination_city, asd, "-Select-", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group input-group">
                    <a class="btn btn-info" id="b3show">ADD DESTINATION</a>
                </div>
            </div>

            <div class="col-xs-12">
                <hr />


                <div style="padding:5px; height:200px;" id="des22" hidden>
                    <br />
                    <strong class="fnt2">Transportation :</strong>
                    <div style="width:125px;" class="radio">
                        <label style="float:left;">
                            <input type="radio" name="optionsRadios2" id="optionsRadiosDomestic" value="flight" checked>
                            Flight
                        </label>
                        <label style="float:right;">
                            <input type="radio" name="optionsRadios2" id="optionsRadiosOverseas" value="land">
                            Land
                        </label>
                    </div>
                    <strong class="fnt2">Destination :</strong>
                    <div style="width:170px;" class="radio">
                        <label>
                            <!--<input type="radio" name="optionsRadios1" id="optionsRadiosDomestic" value="domestic" checked>-->
                            @Html.RadioButtonFor(m => m.toverseas_flag[0], false) Domestic
                        </label>
                        <label style="float:right;">
                            <!--<input type="radio" name="optionsRadios1" id="optionsRadiosOverseas" value="overseas">-->
                            @Html.RadioButtonFor(m => m.toverseas_flag[0], true) Overseas
                        </label>
                    </div>
                    <div style="margin-bottom:75px">
                        @Html.DropDownListFor(m => m.tid_destination_city[0], asd, "Select", new { @class = "form-control", placeholder = "Destination" })
                    </div>
                </div>


                <div style="padding:5px; height:200px;" id="des33" hidden>
                    <br />
                    <br />
                    <strong class="fnt2">Transportation :</strong>
                    <div style="width:125px;" class="radio">
                        <label style="float:left;">
                            <input type="radio" name="optionsRadios3" id="optionsRadiosDomestic" value="flight" checked>
                            Flight
                        </label>
                        <label style="float:right;">
                            <input type="radio" name="optionsRadios3" id="optionsRadiosOverseas" value="land">
                            Land
                        </label>
                    </div>
                    <strong class="fnt2">Destination :</strong>
                    <div style="width:170px;" class="radio">
                        <label>
                            <!--<input type="radio" name="optionsRadios1" id="optionsRadiosDomestic" value="domestic" checked>-->
                            @Html.RadioButtonFor(m => m.toverseas_flag[1], false) Domestic
                        </label>
                        <label style="float:right;">
                            <!--<input type="radio" name="optionsRadios1" id="optionsRadiosOverseas" value="overseas">-->
                            @Html.RadioButtonFor(m => m.toverseas_flag[1], true) Overseas
                        </label>
                    </div>
                    <div>
                        @Html.DropDownListFor(m => m.tid_destination_city[1], asd, "Select", new { @class = "form-control", placeholder = "Destination" })
                    </div>
                </div>
                @*<hr />*@

                <div>
                    <strong class="fnt2">New or Renewal Passport :</strong>
                    <div style="width:100px;" class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.travel_request.passport_flag, true) Yes
                            <!--<input type="radio" name="optionsRadios2" id="optionsRadios1" value="yes" checked>Yes-->
                        </label>
                        <label style="float:right;">
                            @Html.RadioButtonFor(m => m.travel_request.passport_flag, false, new { @checked = true }) No
                        </label>
                    </div>
                </div>
                <strong class="fnt2">Bank Account :</strong>
                <div>
                    <span class="fnt2">No Rekening :</span> @Html.TextBoxFor(m => m.employee_info.bank_account, new { @class = "form-control", @readonly = "readonly" })
                    <!--<input class="form-control" type="text" name='destination' style="margin-top: 3px; display:block;" placeholder="No. Rekening" />-->
                    <br />
                </div>
                <button type="submit" style="width:145px" class="btn btn-info btn-lg" value="Submit">Estimate Budget</button>
                <button style="width:145px" type="button" class="btn btn-default btn-lg" onclick="goBack()">Cancel</button>
                <!--wates-->
            </div>
        }
    </div>
    <hr />
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

<script>
    //$(function () {
    //    $("#searchInput").autocomplete({
    //        source: function (request, response) {
    //            $.ajax({
    //                url: @*@Url.Action("GetSearchValue", "TravelRequest")*@,
    //                data: { search: $("#searchInput").val() },
    //                dataType: "json",
    //                type: "POST",
    //                contentType: "application/json; charset=utf-8",
    //                success: function (data) {
    //                    response($.map(data, function (item) {
    //                        return item;
    //                    }))
    //                },
    //                error: function (response) {
    //                    alert(response.responseText);
    //                },
    //                failure: function (response) {
    //                    alert(response.responseText);
    //                }
    //            });
    //        },
    //        select: function (e, i) {
    //            $("#hfCustomer").val(i.item.val);
    //        },
    //        minLength: 1
    //    });
    //});

    $("#searchInput").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetSearchValue", "TravelRequest")',
                dataType: "json",
                data: { search: $("#searchInput").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.name, value: item.code };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error boss");
                }
            });
        }
    });
</script>

<script>
    $(document).ready(function () {
        $("#b1hide").click(function () {
            $("#des2").fadeOut(500);
        });
        $("#b1show").click(function () {
            $("#des2").fadeIn(500);
            $("#des22").fadeIn(500);
            $("#b1show").hide();
        });
        $("#b2hide").click(function () {
            $("#des2").fadeOut(500);
        });
        $("#b2show").click(function () {
            $("#des3").fadeIn(500);
            $("#des33").fadeIn(500);
            $("#b2show").hide();
        });
        $("#b3hide").click(function () {
            $("#des3").fadeOut(500);
        });
        $("#part").click(function () {
            $("#parts").fadeIn(500);
        });
        $("#mtl").click(function () {
            $("#b1show").fadeIn(500);
        });
    });

    function yesnoCheck() {
        if (document.getElementById('yesCheck').checked) {
            document.getElementById('ifYes').style.display = 'block';
        }
        else {
            document.getElementById('ifYes').style.display = 'none';
            document.getElementById('des2').style.display = 'none';
            document.getElementById('des22').style.display = 'none';
            document.getElementById('des3').style.display = 'none';
            document.getElementById('des33').style.display = 'none';
        }
    }
</script>