@model CONTRAST_WEB.Models.TravelRequestHelper
@{
    ViewBag.Title = "TRAVEL ASSIGNMENT";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    List<SelectListItem> asd = new List<SelectListItem>();
    List<SelectListItem> asd2 = new List<SelectListItem>();
    asd = ViewBag.RL;
    asd2 = ViewBag.RL2;

    List<string> ModelList = new List<string>();
    ModelList = ViewBag.RL3;
}

<div class="container">
    <div style="margin-top:50px" class="row">
        <div class="col-xs-12">
            <h4 style="text-align:left; padding:10px; margin-bottom:0px;">TRAVEL ASSIGNMENT</h4>
        </div>
        <div class="col-xs-12">
            <h5 style="text-align:left; margin-top:0px; padding:0 10px;">"Surat Perintah Perjalanan Dinas"</h5>
        </div>
		
        @using (Html.BeginForm("Validate", "TravelRequest", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="col-xs-12">
                @Html.HiddenFor(m => m.employee_info.code)
                @Html.HiddenFor(m => m.employee_info.name)
                @Html.HiddenFor(m => m.employee_info.@class)
                @Html.HiddenFor(m => m.employee_info.unit_code_code)
                @Html.HiddenFor(m => m.employee_info.unit_code_name)
                @Html.HiddenFor(m => m.travel_request.travel_purpose)
                @Html.HiddenFor(m => m.travel_request.assign_by)
                @Html.HiddenFor(m => m.travel_request.start_date)
                @Html.HiddenFor(m => m.travel_request.end_date)
                @Html.HiddenFor(m => m.travel_request.reason_of_assigment)
                @Html.HiddenFor(m => m.travel_request.request_type)
                @Html.HiddenFor(m => m.travel_request.overseas_flag)
                @Html.HiddenFor(m => m.travel_request.id_destination_city)
                 
                @Html.HiddenFor(m => m.employee_info.bank_account)
                @Html.HiddenFor(m => m.travel_request.destination_code)
				
                    <strong style="color:deepskyblue">ADD PARTICIPANT :</strong>
                    <div style="min-width:300px;max-width:200px;" class="input-group">
                        <!--<a href="/Participant/" class="btn btn-default btn-block"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Participant</a>-->
                        @Html.TextBoxFor(m => m.tparticipant, new { @class = "form-control", placeholder = "Type Participant Name..", id = "searchInput" })
                        <span class="input-group-btn">
                           <button style="width:70px;" type="submit" class="btn btn-info btn-xs form-control" name="Add" value="Submit">Add</button>
                        </span>
                    </div>
                    @if (Model.participants != null)
                    {
                        for (int i = 0; i < Model.participants.Count(); i++)
                        {
                            @Html.HiddenFor(m => m.participants[i].no_reg, new { @value = Model.participants[i].no_reg })
                            @Html.HiddenFor(m => m.participants[i].no_reg_parent, new { @value = Model.participants[i].no_reg_parent })
                            @Html.HiddenFor(m => m.participants[i].active_flag, new { @value = Model.participants[i].active_flag })
                        }
                    }

            </div>

            <div class="col-xs-12">
                <div style="margin-bottom:5px; padding:5px 5px;">
                    <span class="fnt2"><strong>LIST PARTICIPANTS :</strong></span>
                </div>
                <div style="border-radius:4px;max-width:400px;height:145px;overflow-y:scroll;" class="wellNo">
                    <div style="text-align:left;margin-top:10px;" class="input-group">
                        <ol style="padding-left:0px;" class="custom-bullet">
                            @if (Model.participants != null)
                            {
                                for (int i = 0; i < Model.participants.Count(); i++)
                                {
                                    <li>
                                        @Html.TextBox("aaaa", ModelList[i], new { @readonly = "readonly", @style = "border:0px;color:grey;width:185px;" })
                                        @*@Html.DisplayFor(m => m.participants[i].no_reg, new { @class = "form-control", placeholder = "No Reg", @readonly = "readonly" })*@
                                        @*@Html.ActionLink("| Delete", "Delete")*@
                                        <button style="width:70px" type="submit" class="btn btn-danger btn-xs" name="delete" value=@i>Delete</button>
                                    </li>
                                        <hr style="margin:10px 5px;" />
                                        @Html.HiddenFor(m => m.participants[i].no_reg, new { @value = Model.participants[i].no_reg })
                                        @Html.HiddenFor(m => m.participants[i].no_reg_parent, new { @value = Model.participants[i].no_reg_parent })

                                }
                            }
                        </ol>
                    </div>
                </div>
            </div>
			
			<div class="col-xs-12">
                <div style="padding-top:10px;">
                    <strong style="color:deepskyblue">INFO EMPLOYEE</strong>
                </div>
            </div>

            <div class="col-xs-12">
				<h6 style="text-align:left" class="fnt2">NO EMPLOYEE</h6>
                <div style="width:300px;border-bottom:solid 2px;border-bottom-color:lavender;" class="input-group">
                    @Html.TextBoxFor(m => m.employee_info.code, new { placeholder = "No Reg", @readonly = "readonly",@style = "border:0px;font-size:12px;width:400px;"})
                </div>
				
				<h6 style="text-align:left" class="fnt2">NAME</h6>
                <div style="width:300px;border-bottom:solid 2px;border-bottom-color:lavender;" class="input-group">
                    @Html.TextBoxFor(m => m.employee_info.name, new {@readonly = "readonly",@style = "border:0px;font-size:12px;width:400px;" })
                </div>
				
				<h6 style="text-align:left" class="fnt2">CLASS</h6>
                <div style="width:300px;border-bottom:solid 2px;border-bottom-color:lavender;" class="input-group">
                    @Html.TextBoxFor(m => m.employee_info.@class, new {@readonly = "readonly",@style = "border:0px;font-size:12px;width:400px;" })
                </div>
				
				<h6 style="text-align:left" class="fnt2">DIVISION</h6>
                <div style="width:300px;border-bottom:solid 2px;border-bottom-color:lavender;" class="input-group">
                    @Html.TextBox("asd",(string)@ViewBag.division_name, new {@readonly = "readonly" ,@style = "border:0px;font-size:11px;width:400px;"})
                    @Html.HiddenFor(m => m.employee_info.unit_code_code, new {@readonly = "readonly" })
                </div>
				
				<h6 style="text-align:left" class="fnt2">ASSIGNED BY</h6>
                <div style="width:300px;border-bottom:solid 2px;border-bottom-color:lavender;" class="input-group">
                    @Html.TextBox("text",(string)ViewBag.Bossname, new { @readonly = "readonly" ,@style = "border:0px;font-size:12px;width:400px;"})
					@Html.HiddenFor(m => m.travel_request.assign_by, new { @class = "form-control", placeholder = "Assigned By" })
				</div>
				
				<h6 style="text-align:left" class="fnt2">TRAVEL TYPE</h6>
                <div style="width:300px;border-bottom:solid 2px;border-bottom-color:lavender;" class="input-group">
                    @Html.TextBox("asd", Model.travel_request.request_type == true ? "Planned Travel" : "Unplanned Travel", new { @readonly = "readonly",@style = "border:0px;font-size:12px;width:400px;" })
                    @Html.HiddenFor(m => m.travel_request.request_type)
				</div>
				
				<h6 style="text-align:left" class="fnt2">TRAVEL PURPOSE</h6>
                    @Html.ValidationMessageFor(m => m.tpurpose, "", new { @class = "text-danger" })
                    <div>
                        @Html.DropDownListFor(m => m.tpurpose, asd2.OrderBy(m=>m.Text).ToList(), "-Travel Purpose-", new { @class = "form-control", placeholder = "Purpose",@style="max-width:300px;min-width:250px;" })
                    </div>
				
				<h6 style="text-align:left" class="fnt2">REASON</h6>
                    @Html.ValidationMessageFor(m => m.treason, "", new { @class = "text-danger" })
                <div>
                    @Html.TextBoxFor(m => m.treason, new { @class = "form-control", placeholder = "Reason Assigment....",@style="max-width:300px;min-width:250px;" })
                </div>
				
				<h6 style="text-align:left" class="fnt2">ACTIVITY BUDGET</h6>
                @Html.ValidationMessageFor(m => m.tactivity, "", new { @class = "text-danger" })
                <div>
                    @Html.DropDownListFor(m => m.tactivity, new SelectList(
                       new[]
                       {
                                     new { Value = "1", Text = "Regular" },
                                     new { Value = "3", Text = "Kyohan" ,},
                                     new { Value = "2", Text = "Tango" },

                       },
                       "Value",
                       "Text",
                       Model
                    ), new { @class = "form-control" ,@style="max-width:300px;min-width:250px;"})
                </div>	

				
            </div>
			
			<div style="margin:10px 0px;" class="col-xs-12">
                <div style="max-width:300px;padding:0px 0px 0px 5px;margin-bottom:0px;margin-top:15px;" class="well">
                    <strong class="fnt2">Select Destination :</strong>
                </div>
                    <div style="width:150px;" class="radio">
                        <label style="float:left;" id="sgl">
                            @Html.RadioButtonFor(m => m.travel_request.multiple_destination_flag, false, new { onclick = "javascript:yesnoCheck();", name = "yesno", id = "noCheck", @checked = true }) Single
                        </label>
                        <label style="float:right;" id="mlt">
                            @Html.RadioButtonFor(m => m.travel_request.multiple_destination_flag, true, new { onclick = "javascript:yesnoCheck();", name = "yesno", id = "yesCheck" }) Multiple
                        </label>
                    </div>
            </div>

            <div class="col-xs-12">
                <div style="padding:0px;margin-bottom:0px;" id="des1">
                    <div style="margin-bottom:5px">
                        <strong style="color:deepskyblue;">DESTINATION 1</strong>
                    </div>
                    <div>
                        <p class="fnt2">Derparture Date :</p>
                        @Html.ValidationMessageFor(m => m.tstart_date0, "", new { @class = "text-danger" })
                        <div style="max-width:300px;min-width:250px;" class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <span>
                                @Html.TextBoxFor(m => m.tstart_date0D, new { @class = "form-control", @type = "date", placeholder = "Departure", @style="width:130px;" })
                            </span>
                            <span>
                                @Html.TextBoxFor(m => m.tstart_date0T, new { @class = "form-control", @type = "time", placeholder = "Departure", @style="width:115px;"  })
                            </span>
                        </div>
                        @*@Html.TextBoxFor(m => m.travel_request.start_date.Value.ToString("dd/MM/yyyy"),new { @type = "date" })*@
                    </div>
                    <div>
                        <p class="fnt2">Return Date :</p>
                        @Html.ValidationMessageFor(m => m.tend_date0, "", new { @class = "text-danger" })
                        <div style="max-width:300px;min-width:250px;" class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            @*@Html.TextBoxFor(m => m.travel_request.end_date, new { @class = "form-control form-control", @type = "datetime-local", placeholder = "Return" })*@
                            <span>
                                @Html.TextBoxFor(m => m.tend_date0D, new { @class = "form-control", @type = "date", placeholder = "Departure",@style="width:130px;" })
                            </span>
                            <span>
                                @Html.TextBoxFor(m => m.tend_date0T, new { @class = "form-control", @type = "time", placeholder = "Departure", @style="width:115px;"  })
                            </span>
                        </div>
                    </div>
					
					<div style="height:210px;padding:0px;margin-bottom:10px;" id="des1">
                    <div>
                        <strong class="fnt2">Transportation :</strong>
                        <div style="width:125px;" class="radio">
                            <label style="float:left;">
                                @*@Html.RadioButtonFor(m => m.travel_request.air_ticket_flag, true, new { @checked = true }) Flight*@
                                @Html.RadioButtonFor(m => m.tair_ticket_flag[0], true, new { @checked = true }) Flight
                            </label>
                            <label style="float:right;">
                                @*@Html.RadioButtonFor(m => m.travel_request.air_ticket_flag, false) Land*@
                                @Html.RadioButtonFor(m => m.tair_ticket_flag[0], false) Land
                            </label>
                        </div>
                    </div>

                    <div>
                        <strong class="fnt2">New or Renewal Passport :</strong>
                        <div style="width:125px;" class="radio">
                            <label>
                                @Html.RadioButtonFor(m => m.travel_request.passport_flag, true) Yes
                            </label>
                            <label style="float:right;">
                                @Html.RadioButtonFor(m => m.travel_request.passport_flag, false, new { @checked = true }) No
                            </label>
                        </div>
                    </div>
                    <div>
                        <strong class="fnt2">Destination :</strong>
                        <div>
                            @Html.DropDownListFor(m => m.tid_destination_city[0], asd, new { @class = "form-control" })
                        </div>
                    </div>
					</div>
                    <div style="margin-bottom:0px;display:none;float:left;" class="form-group input-group" id="ifYes">
                        <a class="btn btn-warning" id="b1show">ADD DESTINATION</a>
                    </div>
                </div>
                <div style="padding:0px;margin-bottom:0px;" id="des2" hidden>
                    <div style="margin-bottom:5px">
                        <strong style="color:deepskyblue">DESTINATION 2</strong>
                    </div>

                    <div>
                        <p class="fnt2">Derparture Date :</p>
                        @Html.ValidationMessageFor(m => m.tstart_date1, "", new { @class = "text-danger" })
                        <div style="max-width:300px;min-width:250px;" class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <span>
                                @Html.TextBoxFor(m => m.tstart_date1D, new { @class = "form-control", @type = "date", placeholder = "Departure", @style="width:130px;"  })
                            </span>
                            <span>
                                @Html.TextBoxFor(m => m.tstart_date1T, new { @class = "form-control", @type = "time", placeholder = "Departure", @style="width:115px;"  })
                            </span>
                        </div>
                    </div>
                    <div>
                        <p class="fnt2">Return Date :</p>
                        @Html.ValidationMessageFor(m => m.tend_date1, "", new { @class = "text-danger" })
                        <div style="max-width:300px;min-width:250px;" class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <span>
                                @Html.TextBoxFor(m => m.tend_date1D, new { @class = "form-control", @type = "date", placeholder = "Departure", @style="width:130px;"  })
                            </span>
                            <span>
                                @Html.TextBoxFor(m => m.tend_date1T, new { @class = "form-control", @type = "time", placeholder = "Departure", @style="width:115px;"  })
                            </span>
                        </div>
                    </div>
					<div style="height:140px;padding:0px;" id="des22" hidden>
                    <div>
                        <strong class="fnt2">Transportation :</strong>
                        <div style="width:125px;" class="radio">
                            <label style="float:left;">
                                @Html.RadioButtonFor(m => m.tair_ticket_flag[1], true, new { @checked = true }) Flight
                            </label>
                            <label style="float:right;">
                                @Html.RadioButtonFor(m => m.tair_ticket_flag[1], false) Land
                            </label>
                        </div>
                    </div>

                    <div>
                        <strong class="fnt2">Destination :</strong>
                        <div style="margin-bottom:75px">
                            @Html.DropDownListFor(m => m.tid_destination_city[1], asd, new { @class = "form-control", placeholder = "Destination" })
                        </div>
                    </div>
                </div>
                    <div class="form-group input-group">
                        <a class="btn btn-warning" id="b2show">ADD DESTINATION</a>
                    </div>
                </div>
                <div style="padding:0px;margin-bottom:0px;" id="des3" hidden>
                    <div style="margin-bottom:5px">
                        <strong style="color:deepskyblue">DESTINATION 3</strong>
                    </div>
                    <div>
                        <p class="fnt2">Derparture Date :</p>
                        @Html.ValidationMessageFor(m => m.tstart_date2, "", new { @class = "text-danger" })
                        <div style="max-width:300px;min-width:250px;" class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <span>
                                @Html.TextBoxFor(m => m.tstart_date2D, new { @class = "form-control", @type = "date", placeholder = "Departure", @style="width:130px;"  })
                            </span>
                            <span>
                                @Html.TextBoxFor(m => m.tstart_date2T, new { @class = "form-control", @type = "time", placeholder = "Departure", @style="width:115px;"  })
                            </span>

                            @*@Html.TextBoxFor(m => m.tstart_date2, new { @class = "ui-datepicker", @type = "datetime-local", placeholder = "Departure" })*@
                        </div>
                    </div>
                    <div>
                        <p class="fnt2">Return Date :</p>
                        @Html.ValidationMessageFor(m => m.tend_date2, "", new { @class = "text-danger" })
                        <div style="max-width:300px;min-width:250px;" class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <span>
                                @Html.TextBoxFor(m => m.tend_date2D, new { @class = "form-control", @type = "date", placeholder = "Departure", @style="width:130px;"  })
                            </span>
                            <span>
                                @Html.TextBoxFor(m => m.tend_date2T, new { @class = "form-control", @type = "time", placeholder = "Departure", @style="width:115px;"  })
                            </span>

                            @*@Html.TextBoxFor(m => m.tend_date2, new { @class = "ui-datepicker", @type = "datetime-local", placeholder = "Return" })*@
                        </div>
                    </div>
					<div style="padding:0px;margin-bottom:10px;" id="des33" hidden>
                    <div>
                        <strong class="fnt2">Transportation :</strong>
                        <div style="width:125px;" class="radio">
                            <label style="float:left;">
                                @Html.RadioButtonFor(m => m.tair_ticket_flag[2], true, new { @checked = true }) Flight

                            </label>
                            <label style="float:right;">
                                @Html.RadioButtonFor(m => m.tair_ticket_flag[2], false) Land
                            </label>
                        </div>
                    </div>
                    <div>
                        <strong class="fnt2">Destination :</strong>
                        <div>
                            @Html.DropDownListFor(m => m.tid_destination_city[2], asd, new { @class = "form-control", placeholder = "Destination" })
                        </div>
                    </div>
                </div>
                    <div style="display:none" class="form-group input-group" hidden>
                        <a class="btn btn-warning" id="b3show">ADD DESTINATION</a>
                    </div>
                </div>

            </div>

            <div class="col-xs-12">
                <strong class="fnt2">BANK ACCOUNT :</strong>
            </div>

            <div class="col-xs-12">				
				<div class=" text-danger">@ViewBag.ebankname</div>
				<h6 style="text-align:left" class="fnt2">Bank Name :</h6>
                    @Html.ValidationMessageFor(m => m.tbankname, "", new { @class = "text-danger" })
                <div>
                     @Html.TextBoxFor(m => m.tbankname, new { @class = "form-control", @readonly = "readonly" ,@style="max-width:300px;min-width:250px;"})
                </div>
				
				<div class=" text-danger">@ViewBag.ebankname</div>
				<h6 style="text-align:left" class="fnt2">Account Number :</h6>
                    @Html.ValidationMessageFor(m => m.tbankaccount, "", new { @class = "text-danger" })
                <div>
                     @Html.TextBoxFor(m => m.tbankaccount, new { @class = "form-control", @readonly = "readonly",@style="max-width:300px;min-width:250px;" })
                </div>
            </div>

            <div style="margin-top:10px;" class="col-xs-12">
                <button type="button" style="width:145px" class="btn btn-info btn-sm" data-toggle="modal" data-target=".bs-example-modal-sm" value="Submit">Estimate Budget</button>
                &nbsp;
                @Html.ActionLink("Cancel", "Index", "Home")
                <!--wates-->

                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div style="height:50px" class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">X</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="mySmallModalLabel">Notification</h4>
                            </div>
                            <div class="modal-body">
                                <div style="text-align:center;">
                                    <strong>Make sure your data is valid</strong>, click ok to continue
                                </div>

                                <div style="margin:10px 50px;">
                                    <button type="submit" style="width:200px;" class="btn btn-info btn-sm" name="validate" value="Submit">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr />
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

<script>
    $("#searchInput").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetSearchValue", "TravelRequest")',
                dataType: "json",
                data: { search: $("#searchInput").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.name, value: item.code };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error has detected");
                }
            });
        }
    });
    $(document).ready(function () {
        $("#b1hide").click(function () {
            $("#des2").fadeOut(500);
        });
        $("#b1show").click(function () {
            $("#des2").fadeIn(500);
            $("#des22").fadeIn(500);
            $("#b1show").hide();
        });
        $("#b2hide").click(function () {
            $("#des2").fadeOut(500);
        });
        $("#b2show").click(function () {
            $("#des3").fadeIn(500);
            $("#des33").fadeIn(500);
            $("#b2show").hide();
        });
        $("#b3hide").click(function () {
            $("#des3").fadeOut(500);
        });
        //$("#part").click(function () {
        //    $("#parts").fadeIn(500);
        //});
        //$("#mtl").click(function () {
        //    $("#b1show").fadeIn(500);
        //});
    });

    function yesnoCheck() {
        if (document.getElementById('yesCheck').checked) {
            //document.getElementById('ifYes').style.display = 'block';
            document.getElementById('des2').style.display = 'block';
            document.getElementById('des22').style.display = 'block';
            document.getElementById('b2show').style.display = 'block';
            //document.getElementById('des33').style.display = 'block';
        }
        else if (document.getElementById('noCheck').checked) {
            document.getElementById('ifYes').style.display = 'none';
            document.getElementById('des2').style.display = 'none';
            document.getElementById('des22').style.display = 'none';
            document.getElementById('des3').style.display = 'none';
            document.getElementById('des33').style.display = 'none';
        }
    }
</script>