@model CONTRAST_WEB.Models.TravelStatusHelper
@{
    ViewBag.Title = "DETAIL TRAVEL STATUS";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    List<string> ModelList = new List<string>();
    ModelList = ViewBag.RL;
}

@using (Html.BeginForm("Index", "TravelRequestValidation", FormMethod.Post))
{
<div class="container">
    <div style="margin-top:90px;" id="products" class="row list-group _3EibU">
            <div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" class="col-xs-12">
                <h5 class="h5a">No Reg :</h5>
                <p>@Html.DisplayFor(m => m.travel_request.no_reg, new { placeholder = "No Reg", @readonly = "readonly" })</p>

                <h5 class="h5a">Request Purpose :</h5>
                <p>@Html.DisplayFor(m => m.travel_request.travel_purpose, new { placeholder = "Departure", @readonly = "readonly" })</p>

                <h5 class="h5a">Reason of Assignment :</h5>
                <p>@Html.DisplayFor(m => m.travel_request.reason_of_assigment, new { placeholder = "Reason Assigment", @readonly = "readonly" })</p>

                <h5 class="h5a">Request Type :</h5>
                @Html.TextBox("adasd", Model.travel_request.request_type.Value == true ? "Planned" : "Unplanned", new { @style = "border:0px;", @readonly = "readonly" })

                <h5 class="h5a">Going Overseas :</h5>
                @Html.TextBox("adasd", Model.travel_request.overseas_flag.Value == true ? "Yes" : "No", new { @readonly = "readonly", @style = "border:0px;" })

                <h5 class="h5a">New or Renewal Passport :</h5>
                @Html.TextBox("adasd", Model.travel_request.passport_flag == true ? "Yes" : "No", new { @style = "border:0px;", placeholder = "Reason Assigment", @readonly = "readonly" })

                <h5 class="h5a">Destination :</h5>
                <label>@Html.DisplayFor(m => m.travel_request.destination_1, new { @readonly = "readonly" })</label>
                @if (Model.travel_request.destination_2 != null)
                {
                    <label>-</label>
                    <label>@Html.DisplayFor(m => m.travel_request.destination_2, new { @readonly = "readonly" })</label>
                }
                @if (Model.travel_request.destination_3 != null)
                {
                    <label>-</label>
                        <label>@Html.DisplayFor(m => m.travel_request.destination_2, new { @readonly = "readonly" })</label>
                }

                <h5 class="h5a">Departure Date :</h5>
                <p>@Html.DisplayFor(m => m.travel_request.startDate_1, new { @type = "datetime-local", placeholder = "Departure", @readonly = "readonly" })</p>

                @if (Model.travel_request.endDate_1 != null && Model.travel_request.endDate_2 != null)
                    {
                        <h5 class="h5a">Return Date :</h5>
                        <p>@Html.DisplayFor(m => m.travel_request.endDate_2, new { @type = "datetime-local", placeholder = "Return", @readonly = "readonly" })</p>
                    }
                    else if (Model.travel_request.endDate_1 != null && Model.travel_request.endDate_2 != null && Model.travel_request.endDate_3 != null)
                    {
                        <h5 class="h5a">Return Date :</h5>
                        <p>@Html.DisplayFor(m => m.travel_request.endDate_3, new { @type = "datetime-local", placeholder = "Return", @readonly = "readonly" })</p>
                    }
                    else
                    {
                    <h5 class="h5a">Return Date :</h5>
                    <p>@Html.DisplayFor(m => m.travel_request.endDate_1, new { @type = "datetime-local", placeholder = "Return", @readonly = "readonly" })</p>
                    }
            </div>
            <div style="margin-top:30px;" class="col-xs-12">
                <div class="wellIn2">
                    <span><strong>CURRENT STATUS :</strong></span>
                </div>
                <div>
                    @if (Model.travel_request.apprv_flag_lvl3 == "1" && Model.travel_request.apprv_by_lvl3 != null)
                    {
                        <div class="clearfix">
                            <div class="main1">
                                <div class="bulet">
                                    <div class="bulet1" style="background: rgb(246, 246, 246);">
                                        <div class="bulet2">
                                        </div>
                                    </div>
                                </div>
                                <div class="teks">
                                    <div style="color:gray" class="teks1">
                                        <span>@Html.Label("Approved by ")</span>
                                        <span>@ViewBag.Bossname[0]</span>
                                    </div>
                                </div>
                            </div>
                            <div class="main1"></div>
                            <div class="main1">
                                <div class="bulet">
                                    <div class="bulet1" style="background: rgb(246, 246, 246);">
                                        <div class="bulet2">
                                        </div>
                                    </div>
                                </div>
                                <div class="teks">
                                    <div style="color:gray" class="teks1">
                                        <span>@Html.Label("Approved by ")</span>
                                        <span>@ViewBag.Bossname[1]</span>
                                    </div>
                                </div>
                            </div>
                            <div class="main1"></div>
                            <div class="main1">
                                <div class="bulet">
                                    <div class="bulet1" style="background: rgb(246, 246, 246);">
                                        <div class="bulet2">
                                        </div>
                                    </div>
                                </div>
                                <div class="teks">
                                    <div style="color:gray" class="teks1">
                                        <span>@Html.Label("Approved by ")</span>
                                        <span>@ViewBag.Bossname[2]</span>
                                    </div>
                                </div>
                            </div>
                            <div class="main1"></div>
                        </div>

                        if (Model.travel_request.apprv_flag_lvl4 == "1" && Model.travel_request.apprv_by_lvl4 != null)
                        {
                            <div style="margin-top:0px; padding-top:0px;" class="clearfix">
                                <div class="main1">
                                    <div class="buled">
                                        <div class="bulet1" style="background: rgb(246, 246, 246);">
                                            <div class="buled2"></div>
                                        </div>
                                    </div>
                                    <div class="teks">
                                        <div style="color:#00b4ee" class="teks1">
                                            @Html.Label("Waiting Approval by ")
                                            <span>@ViewBag.Bossname[3]</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else if (Model.travel_request.apprv_flag_lvl2 == "1")
                    {
                        //apprv_by_lvl1 & apprv_by_lvl2
                        <div class="clearfix">
                            <div class="main1">
                                <div class="bulet">
                                    <div class="bulet1" style="background: rgb(246, 246, 246);">
                                        <div class="bulet2">
                                        </div>
                                    </div>
                                </div>
                                <div class="teks">
                                    <div style="color:gray" class="teks1">
                                        <span>@Html.Label("Approved by ")</span>
                                        <span>@ViewBag.Bossname[0]</span>
                                    </div>
                                </div>
                            </div>
                            <div class="main1"></div>
                            <div class="main1">
                                <div class="buled">
                                    <div class="bulet1" style="background: rgb(246, 246, 246);">
                                        <div class="buled2"></div>
                                    </div>
                                </div>
                                <div class="teks">
                                    <div style="color:#00b4ee" class="teks1">
                                        @Html.Label("Approved by ")
                                        <span>@ViewBag.Bossname[1]</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        if (Model.travel_request.apprv_flag_lvl3 == "0" && Model.travel_request.apprv_by_lvl3 != null)
                        {
                            <ul>
                                <li class="blue" style="list-style-type:disc; text-align:left; padding:5px 5px;">
                                    @Html.Label("Waiting Approval by  ", new { @style = "color:orange" })
                                    @ViewBag.Bossname[2]
                                </li>
                                <hr style="margin:5px 0; width:400px;" />
                            </ul>
                        }
                        else if ((Model.travel_request.apprv_flag_lvl3 == "2" || Model.travel_request.apprv_flag_lvl3 == "3") && Model.travel_request.apprv_by_lvl3 != null)
                        {
                            <ul>
                                <li class="blue" style="list-style-type:disc; text-align:left; padding:5px 5px;">
                                    @Html.Label("Request Rejected by ", new { @style = "color:red" })
                                    @ViewBag.Bossname[2]
                                </li>
                                <hr style="margin:5px 0; width:400px;" />
                            </ul>
                        }
                    }
                    else if (Model.travel_request.apprv_flag_lvl1 == "1")
                    {
                        <div style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;" class="clearfix">
                            <div class="main1">
                                <div class="bulet">
                                    <div class="bulet1" style="background: rgb(246, 246, 246);">
                                        <div class="bulet2">
                                        </div>
                                    </div>
                                </div>
                                <div class="teks">
                                    <div style="color:gray" class="teks1">
                                        <span>@Html.Label("Approved by")</span>
                                        <span>@ViewBag.Bossname[0]</span>
                                    </div>
                                </div>
                            </div>
                            <div class="main1"></div>
                        </div>
                        if (Model.travel_request.apprv_flag_lvl2 == "0" && Model.travel_request.apprv_by_lvl2 != null)
                        {
                            <ul>
                                <li class="blue" style="list-style-type:disc; text-align:left; padding:5px 5px;">
                                    @Html.Label("Waiting Approval by  ")
                                    @ViewBag.Bossname[1]
                                </li>
                                <hr style="margin:5px 0; width:400px;" />
                            </ul>
                        }
                        else if ((Model.travel_request.apprv_flag_lvl2 == "2" || Model.travel_request.apprv_flag_lvl2 == "3") && Model.travel_request.apprv_by_lvl2 != null)
                        {
                            <div style="margin-top:0px; margin-bottom:0px; padding-top:0px;" class="clearfix">
                                <div class="main1">
                                    <div class="buled">
                                        <div class="bulet1" style="background: rgb(246, 246, 246);">
                                            <div class="buled2"></div>
                                        </div>
                                    </div>
                                    <div class="teks">
                                        <div style="color:#00b4ee" class="teks1">
                                            @Html.Label("Rejected by")
                                            <span>@ViewBag.Bossname[1]</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else if (Model.travel_request.apprv_flag_lvl1 == "0" && Model.travel_request.apprv_by_lvl1 != null)
                    {
                        <div class="clearfix">
                            <div class="main1">
                                <div class="buled">
                                    <div class="bulet1" style="background: rgb(246, 246, 246);">
                                        <div class="buled2"></div>
                                    </div>
                                </div>
                                <div class="teks">
                                    <div style="color:#00b4ee" class="teks1">
                                        <span>@Html.Label("Waiting Approval by")</span>
                                        @*<span>@Html.DisplayFor(m => m.employee_info.name, new { @readonly = "readonly" })</span>*@
                                        <span>@ViewBag.Bossname[0]</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="wellIn2">
                    <span><strong>LIST PARTICIPANTS :</strong></span>
                </div>
                <div style="text-align:left;width:444px;height:150px; overflow-y:scroll; border:0px;">
                    <ol style="margin-top:20px;margin-left:-20px;">
                        @for (int i = 0; i < Model.participants.Count; i++)
                        {
                            <li>
                                @Html.TextBox("aaaa", ModelList[i], new { @readonly = "readonly", @style = "border:0px;color:grey;" })
                            </li>
                                @Html.HiddenFor(m => m.participants[i].no_reg)
                                @Html.HiddenFor(m => m.participants[i].no_reg_parent)
                        }
                    </ol>
                </div>
                <button style="width:145px" type="button" class="btn btn-default btn-lg" onclick="goBack()">Back</button>
            </div>
    </div>

    <hr />
</div>
}
