@model IList<CONTRAST_WEB.Models.vw_request_summary>
@{
    ViewBag.Title = "Travel Status List";
    Layout = "~/Views/Shared/_LayoutLg.cshtml";


}
<div style="height:100px; padding:60px 0 0 0;" class="well navbar-fixed-top">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            @using (Html.BeginForm("Index", "Home"))
            {
                <button type="submit" style="border:0px; margin:0; background-color:transparent; padding:0px; color:dimgrey">Home</button>
            }
        </li>
        <li class="breadcrumb-item active">Travel Status</li>
    </ol>
</div>

<div class="container">
    <div style="margin-top:120px; padding:0 100px;" id="products" class="row list-group _3EibU">
        @if (Model.Count > 0)
        {
            for (var i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
                <div class="item col-xs-12 col-lg-12">
                    <div class="thumbnail">
                        <div class="clearfix">
                             @using (Html.BeginForm("Details", "TravelStatus", Model[i]))
                                {
                            <div class="column content">
                               
                                    @Html.AntiForgeryToken()
                                    <input type="image" img style="margin:5px 0px; width:auto; height:70px" src="~/img/Travel-Status-icon-b.png" />

                            </div>
                            <div style="width:200px;" class="column menu">
                                <div>                                    
                                        @Html.ActionLink(Model[i].group_code, "Comment", new { group_code = Model[i].group_code })
                                </div>
                               
                                <div>
                                    <span class="fnt3">
                                        <strong>To</strong>
                                        @Html.DisplayFor(m => item.destination_1)@Html.TextBox("a", Model[i].multiple_destination_flag == true ? "Multiple Trip" : "Single Trip", new { @style = "border:0px;   color:grey;", @readonly = "readonly" })

                                    </span>
                                    <span>

                                    </span>
                                </div>
                                <div>
                                    <span class="fnt3">
                                        <strong>For</strong>
                                        @ViewBag.Duration[i]
                                        days
                                    </span>
                                </div>
                                <div>
                                    <span style="color:grey;" class="fnt1">
                                        @if (Model[i].apprv_flag_lvl7 != null)
                                        {
                                            if (Model[i].apprv_flag_lvl7 == "2" || Model[i].apprv_flag_lvl7 == "3")
                                            {
                                                <span>@Html.Label("Rejected by", new { @style = "color:red;  margin-right:5px;" })</span>

                                            }
                                            else
                                     if (Model[i].apprv_flag_lvl7 == "1")
                                            {
                                                <span>@Html.Label("Approved By", new { @style = "color:blue;  margin-right:5px;" })</span>
                                            }
                                            else
                                     if (Model[i].apprv_flag_lvl7 == "0")
                                            {
                                                <span>@Html.Label("Waiting For", new { @style = "color:orange;  margin-right:5px;" })</span>
                                            }
                                            @ViewBag.Bossname[i]
                                        }
                                        else
                                if (Model[i].apprv_flag_lvl6 != null)
                                        {
                                            if (Model[i].apprv_flag_lvl6 == "2" || Model[i].apprv_flag_lvl6 == "3")
                                            {
                                                <span>@Html.Label("Rejected by", new { @style = "color:red;  margin-right:5px;" })</span>

                                            }
                                            else
                                    if (Model[i].apprv_flag_lvl6 == "1")
                                            {
                                                <span>@Html.Label("Approved By", new { @style = "color:blue;  margin-right:5px;" })</span>
                                            }
                                            else
                                    if (Model[i].apprv_flag_lvl6 == "0")
                                            {
                                                <span>@Html.Label("Waiting For", new { @style = "color:orange;  margin-right:5px;" })</span>
                                            }
                                            @ViewBag.Bossname[i]
                                        }
                                        else
                               if (Model[i].apprv_flag_lvl5 != null)
                                        {
                                            if (Model[i].apprv_flag_lvl5 == "2" || Model[i].apprv_flag_lvl5 == "3")
                                            {
                                                <span>@Html.Label("Rejected by", new { @style = "color:red;  margin-right:5px;" })</span>

                                            }
                                            else
                                     if (Model[i].apprv_flag_lvl5 == "1")
                                            {
                                                <span>@Html.Label("Approved By", new { @style = "color:blue;  margin-right:5px;" })</span>
                                            }
                                            else
                                     if (Model[i].apprv_flag_lvl5 == "0")
                                            {
                                                <span>@Html.Label("Waiting For", new { @style = "color:orange;  margin-right:5px;" })</span>
                                            }
                                            @ViewBag.Bossname[i]
                                        }
                                        else
                                if (Model[i].apprv_flag_lvl4 != null)
                                        {
                                            if (Model[i].apprv_flag_lvl4 == "2" || Model[i].apprv_flag_lvl4 == "3")
                                            {
                                                <span>@Html.Label("Rejected by", new { @style = "color:red;  margin-right:5px;" })</span>

                                            }
                                            else
                                     if (Model[i].apprv_flag_lvl4 == "1")
                                            {
                                                <span>@Html.Label("Approved By", new { @style = "color:blue;  margin-right:5px;" })</span>
                                            }
                                            else
                                     if (Model[i].apprv_flag_lvl4 == "0")
                                            {
                                                <span>@Html.Label("Waiting For", new { @style = "color:orange;  margin-right:5px;" })</span>
                                            }
                                            @ViewBag.Bossname[i]
                                        }
                                        else
                                if (Model[i].apprv_flag_lvl3 != null)
                                        {
                                            if (Model[i].apprv_flag_lvl3 == "2" || Model[i].apprv_flag_lvl3 == "3")
                                            {
                                                <span>@Html.Label("Rejected by", new { @style = "color:red;  margin-right:5px;" })</span>

                                            }
                                            else
                                     if (Model[i].apprv_flag_lvl3 == "1")
                                            {
                                                <span>@Html.Label("Approved By", new { @style = "color:blue;  margin-right:5px;" })</span>
                                            }
                                            else
                                     if (Model[i].apprv_flag_lvl3 == "0")
                                            {
                                                <span>@Html.Label("Waiting For", new { @style = "color:orange;  margin-right:5px;" })</span>
                                            }
                                            @ViewBag.Bossname[i]
                                        }
                                        else
                                if (Model[i].apprv_flag_lvl2 != null)
                                        {
                                            if (Model[i].apprv_flag_lvl2 == "2" || Model[i].apprv_flag_lvl2 == "3")
                                            {
                                                <span>@Html.Label("Rejected by", new { @style = "color:red;  margin-right:5px;" })</span>
                                            }
                                            else
                                     if (Model[i].apprv_flag_lvl2 == "1")
                                            {
                                                <span>@Html.Label("Approved By", new { @style = "color:blue;  margin-right:5px;" })</span>
                                            }
                                            else
                                     if (Model[i].apprv_flag_lvl2 == "0")
                                            {
                                                <span>@Html.Label("Waiting For", new { @style = "color:orange;  margin-right:5px;" })</span>

                                            }
                                            @ViewBag.Bossname[i]
                                        }
                                        else
                                if (Model[i].apprv_flag_lvl1 != null)
                                        {
                                            if (Model[i].apprv_flag_lvl1 == "2" || Model[i].apprv_flag_lvl1 == "3")
                                            {
                                                <span>@Html.Label("Rejected by", new { @style = "color:red;  margin-right:5px;" })</span>

                                            }
                                            else
                                     if (Model[i].apprv_flag_lvl1 == "1")
                                            {
                                                <span>@Html.Label("Approved By", new { @style = "color:blue;  margin-right:5px;" })</span>
                                            }
                                            else
                                     if (Model[i].apprv_flag_lvl1 == "0")
                                            {
                                                <span>@Html.Label("Waiting For", new { @style = "color:orange;  margin-right:5px;" })</span>
                                            }
                                            @ViewBag.Bossname[i]
                                        }


                                    </span>
                                </div>
                            </div>

                            <div style="width:300px;" class="column menu">
                                <div>
                                    <h1></h1>
                                </div>
                                <div>
                                    <span class="fnt3"><strong>Departure</strong> @Html.DisplayFor(m => item.startDate_1)</span>
                                </div>
                                <div>
                                    <span class="fnt3"><strong>Return</strong> @ViewBag.ReturnDate[i]</span>
                                </div>
                                <div style="padding-top:15px">
                                    <a href='@Url.Action("Comment", "TravelStatus",new { group_code = Model[i].group_code })'>
                                        <img src='@Url.Content("~/img/Travel-Status-Comment.png")' />
                                    </a>
                                    @if (ViewBag.newmsg[i] == 0) {<strong style="color:darkgray;">@ViewBag.newmsg[i] Comment unread</strong>}
                                    else {<strong style="color:red">@ViewBag.newmsg[i] Comment unread</strong>}
                                     
                                </div>
                            </div>

                             

                            <div style="width:120px;" class="column content2">
                                <span><strong style="color:darkgray">BUDGET</strong> </span><br />
                                <h5>
                                    <strong style="color:green;">
                                        <span>Rp.</span>
                                        <span>
                                            @String.Format("{0:n0}", item.grand_total_allowance)
                                        </span>
                                    </strong>
                                </h5>
                            </div>

                                }
                        </div>
                    </div>
                </div>

            }

        }
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
