@model IList<CONTRAST_WEB.Models.vw_request_summary>
@{
    ViewBag.Title = "Travel Status List";
    Layout = "~/Views/Shared/_LayoutM.Mobile.cshtml";


}
<div class="container">
    <div style="margin-top:70px;" id="products" class="row list-group _3EibU">
        @if (Model.Count > 0)
        {
            for (var i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
                <div class="item col-xs-12 col-lg-12">
                    <div class="thumbnail">
                        <div class="clearfix" style="padding:10px 25px;">
                            @using (Html.BeginForm("DetailsMSTR", "TravelStatus", Model[i]))
                            {
                                <div class="column content">
                                    @Html.AntiForgeryToken()
                                    <input type="image" img style="margin:5px 0px; width:auto; height:50px" src="~/img/Travel-Status-icon-b.png" />
                                </div>
                                <div style="width:200px;" class="column menu">
                                    <div>
                                        @if (ViewBag.reviseflag[i] == true)
                                        {
                                            <strong>@Html.ActionLink(Model[i].group_code, "ReviseMSTR", new { group_code = Model[i].group_code, noreg = Model[i].no_reg.ToString() })</strong>
                                            <span style="padding-left:5px; padding-right:5px;background-color:red;color:white; font-size:10px; vertical-align:middle;">REVISION NOTICE</span>
                                        }
                                        else
                                        {
                                            <strong>@Html.DisplayFor(m => m[i].group_code)</strong>
                                        }
                                    </div>

                                    <div>
                                        <span class="fnt3">
                                            <strong>To</strong>
                                            @Html.DisplayFor(m => item.destination_1)
                                        </span>
                                        <span class="fnt3">
                                            <strong>For</strong>
                                            @ViewBag.Duration[i]
                                            days
                                        </span>
                                        @Html.TextBox("a", Model[i].multiple_destination_flag == true ? "Multiple Trip" : "Single Trip", new { @style = "border:0px;   color:grey;", @readonly = "readonly" })
                                    </div>
                                    <div>
                                        <span style="color:grey;" class="fnt1">
                                            @if (Model[i].apprv_flag_lvl7 != null)
                                            {
                                                if (Model[i].apprv_flag_lvl7 == "2" || Model[i].apprv_flag_lvl7 == "3")
                                                {
                                                    <span>@Html.Label("Rejected by", new { @style = "color:red;  margin-bottom:0px;" })</span>

                                                }
                                                else
                                                if (Model[i].apprv_flag_lvl7 == "1")
                                                {
                                                    <span>@Html.Label("Approved By", new { @style = "color:blue;  margin-bottom:0px;" })</span>
                                                }
                                                else
                                                if (Model[i].apprv_flag_lvl7 == "0")
                                                {
                                                    <span>@Html.Label("Waiting For", new { @style = "color:orange;  margin-bottom:0px;" })</span>
                                                }
                                                <br /><strong>@ViewBag.Bossname[i]</strong>

                                            }
                                            else
                                            if (Model[i].apprv_flag_lvl6 != null)
                                            {
                                                if (Model[i].apprv_flag_lvl6 == "2" || Model[i].apprv_flag_lvl6 == "3")
                                                {
                                                    <span>@Html.Label("Rejected by", new { @style = "color:red;  margin-bottom:0px;" })</span>

                                                }
                                                else
                                                if (Model[i].apprv_flag_lvl6 == "1")
                                                {
                                                    <span>@Html.Label("Approved By", new { @style = "color:blue;  margin-bottom:0px;" })</span>
                                                }
                                                else
                                                if (Model[i].apprv_flag_lvl6 == "0")
                                                {
                                                    <span>@Html.Label("Waiting For", new { @style = "color:orange;  margin-bottom:0px;" })</span>
                                                }
                                                <br /><strong>@ViewBag.Bossname[i]</strong>
                                            }
                                            else
                                            if (Model[i].apprv_flag_lvl5 != null)
                                            {
                                                if (Model[i].apprv_flag_lvl5 == "2" || Model[i].apprv_flag_lvl5 == "3")
                                                {
                                                    <span>@Html.Label("Rejected by", new { @style = "color:red;  margin-bottom:0px;" })</span>

                                                }
                                                else
                                                if (Model[i].apprv_flag_lvl5 == "1")
                                                {
                                                    <span>@Html.Label("Approved By", new { @style = "color:blue;  margin-bottom:0px;" })</span>
                                                }
                                                else
                                                if (Model[i].apprv_flag_lvl5 == "0")
                                                {
                                                    <span>@Html.Label("Waiting For", new { @style = "color:orange;  margin-bottom:0px;" })</span>
                                                }
                                                <br /><strong>@ViewBag.Bossname[i]</strong>
                                            }
                                            else
                                            if (Model[i].apprv_flag_lvl4 != null)
                                            {
                                                if (Model[i].apprv_flag_lvl4 == "2" || Model[i].apprv_flag_lvl4 == "3")
                                                {
                                                    <span>@Html.Label("Rejected by", new { @style = "color:red;  margin-bottom:0px;" })</span>

                                                }
                                                else
                                                if (Model[i].apprv_flag_lvl4 == "1")
                                                {
                                                    <span>@Html.Label("Approved By", new { @style = "color:blue;  margin-bottom:0px;" })</span>
                                                }
                                                else
                                                if (Model[i].apprv_flag_lvl4 == "0")
                                                {
                                                    <span>@Html.Label("Waiting For", new { @style = "color:orange;  margin-bottom:0px;" })</span>
                                                }
                                                <br /><strong>@ViewBag.Bossname[i]</strong>
                                            }
                                            else
                                            if (Model[i].apprv_flag_lvl3 != null)
                                            {
                                                if (Model[i].apprv_flag_lvl3 == "2" || Model[i].apprv_flag_lvl3 == "3")
                                                {
                                                    <span>@Html.Label("Rejected by", new { @style = "color:red;  margin-bottom:0px;" })</span>

                                                }
                                                else
                                                if (Model[i].apprv_flag_lvl3 == "1")
                                                {
                                                    <span>@Html.Label("Approved By", new { @style = "color:blue;  margin-bottom:0px;" })</span>
                                                }
                                                else
                                                if (Model[i].apprv_flag_lvl3 == "0")
                                                {
                                                    <span>@Html.Label("Waiting For", new { @style = "color:orange;  margin-bottom:0px;" })</span>
                                                }
                                                <br /><strong>@ViewBag.Bossname[i]</strong>
                                            }
                                            else
                                            if (Model[i].apprv_flag_lvl2 != null)
                                            {
                                                if (Model[i].apprv_flag_lvl2 == "2" || Model[i].apprv_flag_lvl2 == "3")
                                                {
                                                    <span>@Html.Label("Rejected by", new { @style = "color:red;  margin-bottom:0px;" })</span>
                                                }
                                                else
                                                if (Model[i].apprv_flag_lvl2 == "1")
                                                {
                                                    <span>@Html.Label("Approved By", new { @style = "color:blue;  margin-bottom:0px;" })</span>
                                                }
                                                else
                                                if (Model[i].apprv_flag_lvl2 == "0")
                                                {
                                                    <span>@Html.Label("Waiting For", new { @style = "color:orange;  margin-bottom:0px;" })</span>

                                                }
                                                <br /><strong>@ViewBag.Bossname[i]</strong>
                                            }
                                            else
                                            if (Model[i].apprv_flag_lvl1 != null)
                                            {
                                                if (Model[i].apprv_flag_lvl1 == "2" || Model[i].apprv_flag_lvl1 == "3")
                                                {
                                                    <span>@Html.Label("Rejected by", new { @style = "color:red;  margin-bottom:0px;" })</span>

                                                }
                                                else
                                                if (Model[i].apprv_flag_lvl1 == "1")
                                                {
                                                    <span>@Html.Label("Approved By", new { @style = "color:blue;  margin-bottom:0px;" })</span>
                                                }
                                                else
                                                if (Model[i].apprv_flag_lvl1 == "0")
                                                {
                                                    <span>@Html.Label("Waiting For", new { @style = "color:orange;  margin-bottom:0px;" })</span>
                                                }
                                                <br /><strong>@ViewBag.Bossname[i]</strong>
                                            }


                                        </span>
                                    </div>
                                </div>

                                <div style="width:300px;" class="column menu">
                                    <div>
                                        <span class="fnt3"><strong>Departure</strong> @Html.DisplayFor(m => item.startDate_1)</span>
                                    </div>
                                    <div>
                                        <span class="fnt3"><strong>Return</strong> @ViewBag.ReturnDate[i]</span>
                                    </div>
                                    <div style="padding-top:15px">
                                        <a href='@Url.Action("CommentMSTR", "TravelStatus",new { group_code = Model[i].group_code, noreg=Model[i].no_reg.ToString() })'>
                                            <img src='@Url.Content("~/img/Travel-Status-Comment.png")' />
                                        </a>
                                        @if (ViewBag.newmsg[i] == 0)
                                        {
                                            <strong style="color:darkgray;">@ViewBag.newmsg[i] Comment unread</strong>
                                        }
                                        else
                                        {
                                            <strong style="color:red">@ViewBag.newmsg[i] Comment unread</strong>
                                        }

                                    </div>
                                </div>

                                <div style="width:120px;" class="column content2">
                                    <span><strong style="color:darkgray">BUDGET</strong> </span><br />
                                    <h5>
                                        <strong style="color:green;">
                                            <span>Rp.</span>
                                            <span>
                                                @String.Format("{0:n0}", item.grand_total_allowance)
                                            </span>
                                        </strong>
                                    </h5>
                                </div>

                            }
                        </div>
                    </div>
                </div>

            }

        }
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>