@model CONTRAST_WEB.Models.tb_r_travel_dit

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutLg.cshtml";
}
<div style="height:100px; padding:60px 0 0 0;" class="well navbar-fixed-top">
    <ol class="breadcrumb">
        <li>
            @using (Html.BeginForm("Index", "Home"))
            {
                <button type="submit" style="border:0px; margin:0; background-color:transparent; padding:0px; color:dimgrey">Home</button>
            }
        </li>
        <li class="breadcrumb-item active">Details DIT</li>
    </ol>
</div>



<div class="container">
    <div style="margin-top:120px" class="row">
        <div class="col-lg-6 col-lg-offset-3"><h5 class="h5z">Are you sure you want to delete this?</h5></div>
@using (Html.BeginForm("DeleteConfirmed", "TravelDit", FormMethod.Post))
{
    @Html.AntiForgeryToken()
        <div class="col-lg-3 col-lg-offset-3">
            <div class="ff">
                <label>
                    Noreg
                </label><br />
                <span>
                    @Html.DisplayFor(model => model.no_reg)
                    @Html.HiddenFor(Model => Model.id_dit)
                </span>
            </div>

            <div class="ff">
                <label>
                    Travel Month
                </label>
                <br />
                <span>
                    @Html.DisplayFor(model => model.travel_month)
                </span>
            </div>

            <div class="ff">
                <label>
                    Periode
                </label>
                <br />
                <span>
                    @Html.DisplayFor(model => model.periode)
                </span>
            </div>

            <div class="ff">
                <label>
                    Destination Code
                </label>
                <br />
                <span>
                    @Html.DisplayFor(model => model.destination_code)
                </span>
            </div>

            <div class="ff">
                <label>
                    Destination City
                </label>
                <br />
                <span>
                    @Html.DisplayFor(model => model.destination_city)
                </span>
            </div>

            <div class="ff">
                <label>
                    Overseas Flag
                </label>
                <br />
                <span>
                    @Html.TextBox("adasd", Model.overseas_flag.Value == true ? "Yes" : "No", new { @style = "border:0px;", @readonly = "readonly" })
                </span>
            </div>

            <div class="ff">
                <label>
                    Travel Purpose
                </label>
                <br />
                <span>
                    @Html.DisplayFor(model => model.travel_purpose)
                </span>
            </div>

            <div class="ff">
                <label>
                    Allowance Meal Idr
                </label>
                <br />
                <span>
                    @Html.DisplayFor(model => model.allowance_meal_idr)
                </span>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="ff">
                <label>
                    Allowance Hotel
                </label>
                <br />
                <span>
                    @Html.DisplayFor(model => model.allowance_hotel)
                </span>
            </div>

            <div class="ff">
                <label>
                    Allowance Ticket
                </label>
                <br />
                <span>
                    @Html.DisplayFor(model => model.allowance_ticket)
                </span>
            </div>
            <div class="ff">
                <label>
                    Start Date
                </label>
                <br />
                <span>
                    @Html.DisplayFor(model => model.start_date)
                </span>
            </div>

            <div class="ff">
                <label>
                    End Date
                </label>
                <br />
                <span>
                    @Html.DisplayFor(model => model.end_date)
                </span>
            </div>

            <div class="ff">
                <label>
                    User Created
                </label>
                <br />
                <span>
                    @Html.DisplayFor(model => model.user_created)
                </span>
            </div>

            <div class="ff">
                <label>
                    Comments
                </label>
                <br />
                <span>
                    @Html.DisplayFor(model => model.comments)
                </span>
            </div>

            <div class="ff">
                <label>
                    Create Date
                </label>
                <br />
                <span>
                    @Html.DisplayFor(model => model.create_date)
                </span>
            </div>

            <div class="ff">
                <label>
                    Active Flag
                </label>
                <br />
                <span>
                    @Html.TextBox("adasd", Model.active_flag.Value == true ? "Yes" : "No", new { @style = "border:0px;", @readonly = "readonly" })
                </span>
            </div>
        </div>

        <div style="margin-top:20px;" class="col-lg-9 col-lg-offset-3">
       

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
        </div>
        </div>
}
    </div>
</div>