@model CONTRAST_WEB.DTO.TravelAssignmentDTO
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var items in Model.Identity.Privillege)
{
    @items
}


@Model.employee_info_name
@Model.employee_info_code
@Model.employee_info_class
@Model.employee_info_division
@Model.employee_info_assigned_by
